* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.calc {
  width: 241px;
  margin: 30px auto;
}
.out {
  width: 100%;
  height: 40px;
  border: 1px solid #222;
}
.control {
  display: flex;
}
.nums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  width: 60px;
  height: 60px;
  border: 1px solid #222;
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
  transition-property: border, background-color;
  transition-timing-function: linear;
  transition-duration: .4s;
  padding: 0;
}
button:hover {
  border: 1px solid #111;
  background-color: #f0f0f0;
}