<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <title>Maket 4 Flebe</title>
</head>

<body>
    <header>
        <nav></nav>
    </header>
    <footer></footer>
<!--maket psd : https://www.dropbox.com/sh/8rswpggj8h5oys2/AAC2VKdnQnxkO1J9keR5FsLJa?dl=0&preview=Flaby.psd -->

<!--

    ► Создать внутреннюю обёртку для в сех уровней с максимальной шириной, в дальнейшем ета ширина бутет точкой для Media Queris;
    ► Промерить соотношение блоков на уровнях с двумя элементами в линейку;
    ► Создать блоки и проставить их ширину и высоту, исходя из макета;
    ...

-->
</body>
<script src="main.js" type="text/javascript" charset="utf-8"></script>
</html>