<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Raleway:wght@500;600;700;800&family=Roboto+Slab&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <title>Maket 4 Flebe</title>
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logoBox">
                    <div class="logoIcon">
                        <img src="img/logo.svg" alt="LogoIcon">
                    </div>
                </div>
                <div class="butsMenu">
                    <div class="links">
                        <div class="link"><a href="link">HOME</a></div>
                        <div class="link"><a href="link">SERVICES</a></div>
                        <div class="link"><a href="link">PORTFOLIO</a></div>
                        <div class="link"><a href="link">BLOG</a></div>
                        <div class="link"><a href="link">CONTACT US</a></div>
                        <button class="link login">LOGIN</button>
                    </div>
                </div>
            </nav>
            <div class="beginBox">
                <div class="counteroffer">
                    <h2>FLET + FREE = FLABY</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, itaque tempore? Nisi quaerat ut
                        veritatis harum cupiditate!</p>
                    <div class="butLinks">
                        <div class="butLink butLink1">
                            <img class="icoPlayMarket" src="img/google_play.svg" alt="">
                            <span>Google Stor</span>
                        </div>
                        <div class="butLink butLink2">
                            <span>Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="pictPhone">
                    <div class="colections">
                        <div class="phone">

                        </div>
                        <div class="gradient">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="welcome">
        <div class="wrapper">
            <div class="headerBegin">
                <p>Welcome to</p>
                <h3>OUR SERVICES</h3>
                <div class="underLine"></div>
            </div>
            <div class="gridBox">
                <div class="cell">
                    <img src="img/" alt="">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, ex.</p>
                </div>
                <div class="cell">
                    <img src="img/" alt="">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, ex.</p>
                </div>
                <div class="cell">
                    <img src="img/" alt="">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, ex.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="adilities">
        <div class="wrapper">
            <div class="beginBox">
                <img src="" alt="">
                <div class="textBox">
                    <p>We have great features with</p>
                    <h3>Unlimited Customization Features</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quam ipsam reiciendis
                        voluptas est</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    </ul>
                    <a href="#" class="link">
                        <p>READ MORE</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="other">
        <div class="wrapper">
            <div class="headerBegin">
                <p>Welcome to</p>
                <h3>OTHER SERVICES</h3>
                <div class="underLine"></div>
            </div>
            <div class="flexBox">
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Idea Developing</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Best Coding</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Game Design</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Responsive Design</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Free Shopping</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="imgWrapper"></div>
                    <div class="textBox">
                        <h4>Bonus Download</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repudiandae iure quasi nemo? Ea
                            corrupti provident expedita rerum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <!--maket psd : https://www.dropbox.com/sh/8rswpggj8h5oys2/AAC2VKdnQnxkO1J9keR5FsLJa?dl=0&preview=Flaby.psd -->

    <!--

    (!) .gridBox - общий
    (!) .flexBox - общий
    (!) .wrapper - общий
    (!) .headerBegin - общий
    ...

-->
</body>
<script src="main.js" type="text/javascript" charset="utf-8"></script>

</html>