/*

    font-family: 'Arbutus Slab', serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto Slab', serif;

*/

@font-face {
  font-family: "MuseoSlab";
  font-style: normal;
  src: url("fonts/museoslab-500.otf");
  font-display: swap;
}

@font-face {
     
  font-family:'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.woff') format('woff'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/fonts/fontawesome-webfont.svg') format('svg');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  background-color: #40a0f4;
  color: #fff;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 133px;
  border-bottom: 1px solid #fffb;
  padding: 0 15px;
  max-height: 133px;
}

.logoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoBox span {
  font-size: 45px;
}

.logoIcon {
  width: 90px;
  height: 90px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.logoIcon img {
  height: 50px;
}

.butsMenu {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}

.link {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.link span {}

.login {
  display: block;
  background-color: #2e6ea7;
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.beginBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.counteroffer {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-flow: column;
  padding: 5%;
}

.counteroffer h2 {
  font-size: 45px;
  font-family: 'MuseoSlab';
  font-weight: 500;
}

.counteroffer p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.butLinks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.butLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.butLink1 {
  background-color: #fff;
  color: #000;
}

.butLink1 span {
  font-size: 20px;
  margin-left: 15px;
}

.icoPlayMarket {}

.butLink2 {
  background-color: #2e6ea7;
}

.butLink2 span {
  font-size: 20px;
}

.pictPhone {
  position: relative;
}

.colections {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.phone {
  display: flex;
  justify-content: center;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
}

.adilities, .other, .welcome {
  padding: 5% 5%;
}

/*
    .welcome - begin
*/

.welcome .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.welcome img {
  width: 120px;
  height: 120px;
  background-color: bisque;
}

.welcome h4 {
  font-size: 30px;
  margin: 10px 0;
}

.welcome p {
  font-size: 20px;
  text-align: center;
  width: 60%;
  margin: 0;
}

/*
    .welcome - end
*/

.headerBegin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 50px 0px;
}

.headerBegin p {
  font-size: 20px;
  margin: 0;
}

.headerBegin h3 {
  font-size: 30px;
  margin: 5px 0;
}

.headerBegin .underLine {
  width: 90px;
  height: 3px;
  background-color: aqua;
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flexBox {
  display: flex;
}

footer {}