@keyframes show {
    0% {
        transform: scale(100%);
    }
    20% {
        transform: scale(80%);
    }
    40% {
        transform: scale(80%);
    }
    60% {
        transform: scale(80%);
    }
    80% {
        transform: scale(80%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes runRound {
    from{transform: rotate(0deg);}
    50% {transform: rotate(90deg);}
    to {transform: rotate(360deg);}
}

html {
    background-color: rgb(6, 33, 33);
}

body {
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

}
:root {
    --size: 360px;
    --time: 2s;
    --delay: 0.5s;
}
.animation {

    width: var(--size);
    height: var(--size);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}
.obj {
    background-color: cadetblue;
    box-shadow: 5px 5px 10px cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.obj span {
    display: none;

    color: white;
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;

}
.obj_1 {
    animation-name: show;
    animation-duration: var(--time);
    animation-delay: calc(var(--delay)*2);
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);


    animation-iteration-count: infinite;
}
.obj_2 {
    animation-name: show;
    animation-duration: var(--time);
    animation-delay: calc(var(--delay)*3);
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);


    animation-iteration-count: infinite;
}
.obj_3 {
    animation-name: show;
    animation-duration: var(--time);
    animation-delay: calc(var(--delay)*1);
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);


    animation-iteration-count: infinite;
}
.obj_4 {
    animation-name: show;
    animation-duration: var(--time);
    animation-delay: calc(var(--delay)*0);
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);


    animation-iteration-count: infinite;
}