.project_1 {background-color: #5f0073;}
.project_2 {background-color: #464646;}
.project_3 {background-color: #015353;}
.project_4 {background-color: #ffff6f;}
.project_5 {background-color: #ffff4f;}
.project_6 {background-color: #ffff2f;}