/*Стили блоков с изображениями*/
.avatar-radius {height: 3.5rem;}

.banerHeros {width: 100%;height: 300px;background-image: url("base/Imgs/Heros.webp");background-size: cover;background-position: top;}
.imgBeginBook {background-size: cover;height: 420px;background-position-y: top;transition: cubic-bezier(.77,0,.18,1) 0.2s;background-position-x: center;}
.imgBeginBook:hover {background-position-y: 40%;transition: cubic-bezier(.77,0,.18,1) 0.5s;}
.imgBeginBook01{background-image: url("base/Imgs/begin-book01.webp");}
.imgBeginBook02{background-image: url("base/Imgs/begin-book02.webp");}
.imgBeginBook03{background-image: url("base/Imgs/begin-book03.webp");}
.imgBeginBook04{background-image: url("base/Imgs/begin-book04.webp");}
.imgBeginBook05{background-image: url("base/Imgs/begin-book05.webp");}
.imgBeginBook06{background-image: url("base/Imgs/begin-book06.webp");}
.imgBeginBook07{background-image: url("base/Imgs/begin-book07.webp");}
.imgBeginBook08{background-image: url("base/Imgs/begin-book08.webp");}
.imgBeginBook09{background-image: url("base/Imgs/begin-book09.webp");}
.imgBeginBook10{background-image: url("base/Imgs/begin-book10.webp");}
.imgBeginBook11{background-image: url("base/Imgs/begin-book11.webp");}
.imgBeginBook12{background-image: url("base/Imgs/begin-book12.webp");}
.imgBeginBook13{background-image: url("base/Imgs/begin-book13.webp");}
.imgBeginBook14{background-image: url("base/Imgs/begin-book14.webp");}
.imgBeginBook15{background-image: url("base/Imgs/begin-book15.webp");}
.imgBeginBook16{background-image: url("base/Imgs/begin-book16.webp");}
.imgBeginBook17{background-image: url("base/Imgs/begin-book17.webp");}
.imgBeginBook18{background-image: url("base/Imgs/begin-book18.webp");}
.imgBeginBook19{background-image: url("base/Imgs/begin-book19.webp");}
.imgBeginBook20{background-image: url("base/Imgs/begin-book20.webp");}
.imgBeginBook21{background-image: url("base/Imgs/begin-book21.webp");}
.imgBeginBook22{background-image: url("base/Imgs/begin-book22.webp");}
.imgBeginBook23{background-image: url("base/Imgs/begin-book23.webp");}
.imgBeginBook24{background-image: url("base/Imgs/begin-book24.webp");}
.imgBeginBook25{background-image: url("base/Imgs/begin-book25.webp");}
.imgBeginBook26{background-image: url("base/Imgs/begin-book26.webp");}
.imgBeginBook27{background-image: url("base/Imgs/begin-book27.webp");}
.imgBeginBook28{background-image: url("base/Imgs/begin-book28.webp");}

.block > img {width: 100%;}