body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #333333;
    padding: 40px 30px;
}

ul {
    padding: 0;
    width: 100%;
    list-style: none;
    max-width: 1100px;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: #fff;
    padding: 0 30px;
    background-color: #4d4d4d;
    margin: 20px 0;
}

.item > p {
    font-family: 'Lucida Grande', sans-serif;
}

.item_under {
    background-color: #00000000;
    padding: 0 0 0 30px;
    display: none;
}

a {
    display: block;
    text-decoration: none;
}

.item_under li {
    margin: 10px 0 10px 5%;
    background-color: #222222;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.buttOpen {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.buttArrow {
    width: 16px;
}