@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');

:root {
  --light_bg: #242320;
  --dark_bg: #1B1A17;
  --mark_text: #FF8303;
  --text_color: #FF8303;
  --text_family_inconsolata: 'Inconsolata', monospace;
  // Regular, Medium, Bold
  --text_family_arial: 'Arial';
}