body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
}

div {
    position: relative;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 900px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

p::before {
    content: open-quote;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p::after {
    content: close-quote;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    position: absolute;
    right: 20px;
    font-style: italic;
    font-family: 'Times New Roman', serif;
}