@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;900&display=swap");

:root {
  --light_bg: #242320;
  --dark_bg: #1b1a17;
  --mark_text: #ff8303;
  --text_color: #f0e3ca;
  --text_family_inconsolata: "Inconsolata", monospace;
  // Regular, Medium, Bold
  --text_family_arial: "Arial";
  --margin_wrapper: 120px;
  --button-size: 32px;
  --size_project: 320px;
}

html {
  background-color: var(--dark_bg);
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: calc(100vw - var(--margin_wrapper) * 2);
  margin: 0 auto;
}

header {
  background-color: var(--dark_bg);
  width: 100%;

  top: 0px;
  z-index: 1100;

  .wrapper--header {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 0;
  }

  .header_logo {
    height: 32px;
  }

  .header_menu {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .header_button {
    display: none;

    width: var(--button-size);
    height: var(--button-size);

    background: #0000;
    border: 0px;
    padding: 4px;

    &--selected {
      .button_line {
      }

      .button_line--top {
        transform: rotate(45deg);
      }

      .button_line--center {
        opacity: 0%;
        display: none;
      }

      .button_line--button {
        transform: rotate(-45deg);
        bottom: 9%;
      }
    }

    .button_line {
      position: relative;

      width: 100%;
      height: 3px;
      background-color: var(--text_color);
      border-radius: 2px;

      transition: opacity 0.3s linear;
      transition: transform 0.3s linear;
    }

    .button_line--top {
    }

    .button_line--center {
      margin: 20% 0;
      opacity: 100%;
    }

    .button_line--button {
    }
  }

  .header_item {
    color: var(--text_color);

    &:hover {
      color: var(--mark_text);
    }
  }

  .header_item--text {
    font-family: var(--text_family_inconsolata);
    font-weight: bold;
    font-size: 20px;
  }
}

.menu_box {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  position: absolute;
  background-color: var(--dark_bg);
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0;
  padding: 0;

  &--text {
    font-family: var(--text_family_inconsolata);
    font-size: 20px;
  }

  .menu_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    color: var(--text_color);

    &:hover {
      color: var(--mark_text);
    }
  }

  &--hidden {
    display: none;
  }

  &--visible {
    display: flex;
  }
}

.hello {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // background: radial-gradient(100% 100% at 50% 100%, var(--light_bg) 21.52%, var(--dark_bg) 100%);
  background: linear-gradient(0deg, var(--light_bg) 16%, var(--dark_bg));

  height: 90vh;

  &_text {
    font-family: var(--text_family_inconsolata);
    width: min-content;
  }

  &_name {
    color: var(--mark_text);
    font-size: 64px;
    font-weight: 900;
    margin: 4px 0;
  }

  &_profession {
    color: var(--text_color);
    font-size: 40px;
    font-weight: 700;
    margin: 4px 0;
  }

  &_description {
    color: var(--text_color);
    font-size: 20px;
    font-weight: 400;
    margin: 4px 0;
  }

  &_baner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &_boxCode {
    max-width: 800px;
    width: 100%;
    height: 400px;
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &_code {
    // display: none;
    display: block;

    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);

    font-family: var(--text_family_inconsolata);
    font-size: 16px;

    color: var(--mark_text);

    opacity: 35%;
  }

  &_pic {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 25%;
    left: 20%;
    // transform: translate(-50%, -50%);

    &--lavel {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: 56% 78% 49%/32% 97% 34%;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }

    &--lavel1 {
      background: rgba(255, 129, 3, 0.875);
      transform: rotate(70deg);
    }

    &--lavel2 {
      background: rgba(240, 227, 202, 0.856);
      transform: rotate(-45deg);
    }

    &--lavel3 {
      background-image: url("pic/pic_face.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.about {
  padding: 16px 0;
  background: var(--light_bg);
  .wrapper--about {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &_logo {
  }
  &_text {
    color: var(--text_color);
    font-family: var(--text_family_inconsolata);
    font-size: 24px;
  }
}

.skills {
  // background: linear-gradient(0deg, var(--dark_bg) 2%, var(--light_bg) 98%);
  margin: 64px 0;
  &_header {
    margin: 64px 0;
    text-align: center;
    color: var(--mark_text);
    font-family: var(--text_family_inconsolata);
  }
  &_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  &_card {
    width: 200px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--light_bg);

    border-radius: 10px;

    gap: 20px;
    p {
      margin: 16px 0 0 0;

      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      /* identical to box height */

      color: #ffffff;
    }
  }
}

.portfolio {
  padding: 64px 0;
  &_header {
    color: var(--mark_text);
    margin: 64px 0;
    text-align: center;
    font-family: var(--text_family_inconsolata);
    // margin: 0;
  }
  &_line {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 16px;
    justify-content: center;
  }

  &_card {
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;

    background-color: #24232000;
    box-sizing: border-box;

    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 0.5s;

    font-family: var(--text_family_inconsolata);
    * {
      opacity: 0;
      margin: 0;
      text-align: center;

      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: .4;
      transition-duration: 0.5s;
    }
    &:hover * {
      opacity: 100%;
    }
    &:hover {
      background-color: #21201df0;
    }
  }
  &_wrapper {
    width: var(--size_project);
    height: var(--size_project);
    background-size: cover;
  }
  &_wrapper--1 {
    background-image: url("pic/preview_layout_6.png");
  }
  &_wrapper--2 {
    background-image: url("pic/preview_layout_5.png");
  }
  &_wrapper--3 {
    background-image: url("pic/preview_layout_14.png");
  }
  .project_name {
    color: var(--mark_text);
  }
  .project_technologies {
    color: var(--text_color);
  }
  .project_line {
    background-color: var(--mark_text);
    height: 1px;
    width: 72%;
  }
  .project_description {
    color: var(--text_color);
    width: 80%;
  }
  .project_button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--dark_bg);
    span {
      color: var(--text_color);
    }
  }
}

/*
MQ Values:
PC:1024 - ...
Tablet: 640 - 1024
Phone: ... - 640
*/

@media screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    .wrapper--header {
      flex-direction: column;
      justify-content: center;
      padding: 16px 0;
      gap: 16px;
    }
  }

  .hello {
    grid-template-columns: repeat(1, 1fr);

    &_name {
      font-size: 40px;
    }

    &_profession {
      font-size: 32px;
    }

    &_description {
      font-size: 24px;
    }


    &_pic {
      width: 75vw;
      height: 75vw;
    }

    &_code {
      font-size: 10px;
    }
  }

  .portfolio {
    &_line {
      grid-template-columns: repeat(2, min-content);
    }
  }
}

@media screen and (max-width: 639px) {
  :root {
    --margin_wrapper: 16px;
  }

  header {
    position: relative;

    .header_menu {
      display: none;
    }

    .header_logo {
      height: 24px;
    }

    .header_menu--button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header_button {
      display: block;
    }
  }

  main {
    position: relative;
  }

  .hello {
    grid-template-columns: repeat(1, 1fr);

    &_baner {
      min-height: 400px;
    }

    &_name {
      font-size: 40px;
    }

    &_profession {
      font-size: 32px;
    }

    &_description {
      font-size: 24px;
    }

    &_pic {
      width: 50vw;
      height: 60vw;
      left: 25%;
    }
    &_boxCode {
      top: 65%;
    }
    &_code {
      font-size: 12px;
      width: 100%;
      margin: 0 16px;
    }
  }

  .about {
    .wrapper--about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .about_logo {
      }
      .about_text {
        margin: 8px 32px;
        font-size: 20px;
      }
    }
  }

  .skills {
    &_card {
      flex-direction: row;
      width: 240px;
      height: min-content;
      justify-content: left;
      align-items: center;
      padding: 14px 0;
      padding-left: 32px;
      gap: 16px;
    }
    p {
      font-family: var(--text_family_inconsolata);
      font-weight: 500;
      font-size: 24px;
      line-height: 25px;
      margin: 0;
    }
    img {
      height: 32px;
    }
  }

  .portfolio {
    &_header {
      margin: 32px 0;
    }
    &_line {
      grid-template-columns: min-content;
    }
  }
}
