<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Легенды ФБР</title>
    <link rel="stylesheet" href="/general_lib/normaliz.css" />
    <link rel="stylesheet" href="style.css" />
    <!-- https://www.youtube.com/watch?v=Zd-FJW_9WPf0 -->
  </head>
  <body>
    <header>
      <div class="wrapper">
        <h1>Какая-то шапка</h1>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <h1>Легенды Бокса России</h1>
        <div class="person">
          <input type="radio" name="person" id="person_1" class="person-input">
          <label for="person_1" class="person_name">Сергей Ковалев</label>
          <div class="person_bio">
            <div class="person_short">
              <div class="person_avatar"></div>
              <div class="person_description">
                <h2>Сергей Ковалев</h2>
                <p>28&nbsp;побед, 1&nbsp;ничья; 79,3&nbsp;кг; 32&nbsp;года.</p>
                <p>Боксёр</p>
              </div>
            </div>
            <div class="person_full">
              <p>Боксер, которого ждала планета, родился в Копейске и этому надо радоваться. После поражения Кличко и конфликта Тайсона Фьюри с IBF он — единственный в мире с тремя чемпионскими поясами и единственный россиянин в десятке лучших боксеров планеты вне зависимости от веса. В нем как-то уживается и крик «АУЕ, Челяба», и английский язык, на котором он дает интервью в Америке, и дом в США, и российский флаг на плечах. А также умение жестко бить и интересно рассказывать. Сделавший сам себя, разделавший почти три десятка соперников Ковалев ни разу не был первым номером сборной России в любителях и теперь наверстывает упущенное.</p>
              <div class="person_imgs">
                <div class="person_img person_img--1"></div>
                <div class="person_img person_img--2"></div>
              </div>
              <div class="person_wins">
                <h2>Поединки</h2>
                <ul>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
        <div class="person">
          <input type="radio" name="person" id="person_2" class="person-input">
          <label for="person_2" class="person_name">Сергей Ковалев</label>
          <div class="person_bio">
            <div class="person_short">
              <div class="person_avatar"></div>
              <div class="person_description">
                <h2>Сергей Ковалев</h2>
                <p>28&nbsp;побед, 1&nbsp;ничья; 79,3&nbsp;кг; 32&nbsp;года.</p>
                <p>Боксёр</p>
              </div>
            </div>
            <div class="person_full">
              <p>Боксер, которого ждала планета, родился в Копейске и этому надо радоваться. После поражения Кличко и конфликта Тайсона Фьюри с IBF он — единственный в мире с тремя чемпионскими поясами и единственный россиянин в десятке лучших боксеров планеты вне зависимости от веса. В нем как-то уживается и крик «АУЕ, Челяба», и английский язык, на котором он дает интервью в Америке, и дом в США, и российский флаг на плечах. А также умение жестко бить и интересно рассказывать. Сделавший сам себя, разделавший почти три десятка соперников Ковалев ни разу не был первым номером сборной России в любителях и теперь наверстывает упущенное.</p>
              <div class="person_imgs">
                <div class="person_img person_img--1"></div>
                <div class="person_img person_img--2"></div>
              </div>
              <div class="person_wins">
                <h2>Поединки</h2>
                <ul>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit.</li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="wrapper">
        <h1>Страшный подвал</h1>
      </div>
    </footer>
  </body>
</html>
