<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Легенды ФБР</title>
    <link rel="stylesheet" href="https://ontalex.github.io/p/general_lib/normaliz.css" />
    <link rel="stylesheet" href="style.css" />
    <!-- https://www.youtube.com/watch?v=Zd-FJW_9WPf0 -->
</head>

<body>
    <header>
        <img class="header_logo" src="top_logo.png" alt="доготип ФБР">
        <h1 class="header_name">Федерация Бокса России</h1>
    </header>
    <menu>
        <a href="#">
            <li><span>О нас</span></li>
        </a>
        <a href="#">
            <li><span>Новости</span></li>
        </a>
        <a href="#">
            <li><span>Галлерея</span></li>
        </a>
        <a href="#">
            <li><span>Легенды</span></li>
        </a>
        <a href="#">
            <li><span>Контакты</span></li>
        </a>
    </menu>
    <main>
        <div class="about_dscription">
            <div class="wrapper">
                <p>В состав Федерации бокса России входят 85 региональных Федераций, ежегодно на территории страны
                    проводится более 150 соревнований регионального, национального и международного уровней.</p>
                <p>
                    Боксом в России занимается более 200 тысяч человек. Из них 116 тысяч – юные боксеры. В каждом городе
                    с населением больше 500 тысяч человек обычно работает от 8 до 30 различных секций по боксу.</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="about">
                <div class="about_speech">
                    <div class="about_speech--text">
                        <p>
                            История боксерского движения в России неразрывно связана с государственностью. Еще век
                            назад, в 1918 году, бокс как одна из неотъемлемых дисциплин вошел в программу обязательного
                            военного обучения.
                        </p>
                        <p>Тогда слово «спорт» значило «патриотизм». Считалось, если сегодня ты занимаешься боксом, то
                            завтра встанешь на защиту Родины.</p>
                        <p>
                            Сегодня этот вид единоборств должен вернуться к своим истокам. Боксеры – это цвет
                            многонациональной России, люди, чей характер оттачивается в ежедневных тренировках и
                            постоянной борьбе. Наши спортсмены должны отстаивать честь страны на международных рингах
                            как на военном поприще, так, как наши предки на поле брани вырывали победу у противника!
                        </p>
                        <p>
                            Боксер — значит боец, защитник. Эту мысль мы должны прививать юным спортсменам. В каждой
                            школе, в самой маленькой деревенской спортивной секции тренерам нужно воспитывать в боксерах
                            чувство ответственности за Отчизну и готовность в любой момент разбить врага.
                        </p>
                        <p>У нас богатое боксерское прошлое – это ветераны, легендарные победители Олимпийских игр. Мы
                            уверены в настоящем – это наши современные чемпионы. И точно знаем, что у российского бокса
                            достойное будущее – новое поколение продолжит славные традиции.</p>
                        <p>
                            Россия должна стать первым номером в мире!
                        </p>
                    </div>
                    <div class="about_speecher">
                        <div class="speecher_avatar"></div>
                        <div class="speecher_about">
                            <p class="speecher_name">Алексей Александрович Рубежной</p>
                            <p class="speecher_job">Руководитель Службы Безопасности Президента Федеральной службы
                                охраны России, Высший наблюдатель Общероссийской общественной организации "Федерация
                                бокса России"</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Легенды Бокса России</h1>
            <div class="person">
                <input type="radio" name="person" id="person_1" class="person-input" checked>
                <label for="person_1" class="person_name">Сергей Ковалев</label>
                <div class="person_bio">
                    <div class="person_short">
                        <div class="person_avatar person_avatar person_avatar person_avatar_1"></div>
                        <div class="person_description">
                            <h2>Сергей Ковалев</h2>
                            <p>28&nbsp;побед, 1&nbsp;ничья; 79,3&nbsp;кг; 32&nbsp;года.</p>
                            <p>Боксёр</p>
                        </div>
                    </div>
                    <div class="person_full">
                        <p>Боксер, которого ждала планета, родился в Копейске и этому надо радоваться. После поражения
                            Кличко и конфликта Тайсона Фьюри с IBF он — единственный в мире с тремя чемпионскими поясами
                            и единственный россиянин в десятке лучших боксеров планеты вне зависимости от веса. В нем
                            как-то уживается и крик «АУЕ, Челяба», и английский язык, на котором он дает интервью в
                            Америке, и дом в США, и российский флаг на плечах. А также умение жестко бить и интересно
                            рассказывать. Сделавший сам себя, разделавший почти три десятка соперников Ковалев ни разу
                            не был первым номером сборной России в любителях и теперь наверстывает упущенное.</p>
                        <div class="person_imgs">
                            <div class="person_img person_img--1"></div>
                            <div class="person_img person_img--2"></div>
                        </div>
                        <div class="person_wins">
                            <h2>Поединки</h2>
                            <ul>
                                <li class="wins_fight">Форум, Инглвуд, Калифорния, США (May / 14 / 2022) (против: Тервел Пулев)</li>
                                <li class="wins_fight">MGM Grand, Лас-Вегас, Невада, США (2 ноября 2019) (против: Сауль Альварес)</li>
                                <li class="wins_fight">ДС Трактор, Челябинск, Россия (24 августа 2019) (противник: Энтони Ярд)</li>
                                <li class="wins_fight">Форд Центр, Фриско, Техас, США (2 февраля 2019) (противник: Элейдер Альварес)</li>
                                <li class="wins_fight">Этесс Арена, Атлантик-Сити, Нью-Джерси, США (4 августа 2018) (противник: Элейдер Альварес)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="person">
                <input type="radio" name="person" id="person_2" class="person-input">
                <label for="person_2" class="person_name">Александр Поветкин</label>
                <div class="person_bio">
                    <div class="person_short">
                        <div class="person_avatar person_avatar_2"></div>
                        <div class="person_description">
                            <h2>Александр Поветкин</h2>
                            <p>30&nbsp;побед, 1&nbsp;поражение; свыше&nbsp;90,7&nbsp;кг; 36&nbsp;лет.</p>
                            <p>Боксёр</p>
                        </div>
                    </div>
                    <div class="person_full">
                        <p>Герой своего времени неожиданно получил поддержку из Великобритании: Тайсон Фьюри, устроивший
                            выволочку Владимиру Кличко, немного запутал ситуацию в супертяжелом весе. Как все выглядит
                            сейчас, Поветкину нужен пояс для статуса. Всего их четыре: два у Фьюри, который даст реванш
                            Кличко. Один у американца Уайлдера, который будет просить много денег за бой с собой и,
                            скорее всего, проиграет Александру. Есть еще один пояс – его Фьюри смыл в унитаз после того,
                            как организация сказала, что забирает его у британца. Уайлдер, которому придется ждать
                            реванша Фьюри и Кличко, может согласится на бой в Москве с Поветкиным.</p>
                        <div class="person_imgs">
                            <div class="person_img person_img--1"></div>
                            <div class="person_img person_img--2"></div>
                        </div>
                        <div class="person_wins">
                            <h2>Поединки</h2>
                            <ul>
                                <li class="wins_fight">Europa Point Sports Complex, Гибралтар (Противник: Диллиан Уайт) (27 марта 2021) </li>
                                <li class="wins_fight">Matchroom Fight Camp, Брентвуд, Эссекс, Великобритания (Противник: Диллиан Уайт) (22 августа 2020) </li>
                                <li class="wins_fight">Diriyah Arena, Эд-Диръия, Саудовская Аравия (Противник: Майкл Хантер) (7 декабря 2019) </li>
                                <li class="wins_fight">O2 Арена, Лондон, Великобритания (Противник: Хьюи Фьюри) (31 августа 2019) </li>
                                <li class="wins_fight">Wembley Stadium, Лондон, Великобритания (Противник: Энтони Джошуа) (22 сентября 2018) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="person">
                <input type="radio" name="person" id="person_3" class="person-input">
                <label for="person_3" class="person_name">Сергей Ковалев</label>
                <div class="person_bio">
                    <div class="person_short">
                        <div class="person_avatar person_avatar_3"></div>
                        <div class="person_description">
                            <h2>Григорий Дрозд</h2>
                            <p>40&nbsp;побед, 1&nbsp;поражение; до&nbsp;90,7&nbsp;кг; 36&nbsp;лет.</p>
                            <p>Боксёр</p>
                        </div>
                    </div>
                    <div class="person_full">
                        <p>В карьере Григория сейчас вираж, похожий по траектории на знак вопроса. Во-первых, он на том
                            уровне, какого 99% боксеров не достигнет, и нужно понимать, что не всегда просто
                            мотивировать себя, когда главная цель выполнена. Во-вторых, Дрозд из тех боксеров, кому бокс
                            дал не только возможность реализоваться в жизни, но и возможность развиваться где-то еще. Он
                            проводит турниры по муай тай, комментирует бои, занимается общественной деятельностью. В 36
                            лет это может оказаться банально интереснее двух тренировок в день на протяжении трех
                            месяцев. У Григория анонсирован бой на весну, там и будет ответ.</p>
                        <div class="person_imgs">
                            <div class="person_img person_img--1"></div>
                            <div class="person_img person_img--2"></div>
                        </div>
                        <div class="person_wins">
                            <h2>Поединки</h2>
                            <ul>
                                <li class="wins_fight">Москва (противник: Лукаш Яник) (22 мая 2015)</li>
                                <li class="wins_fight">Москва (противник: Кшиштоф Влодарчик) (27 сентября 2014)</li>
                                <li class="wins_fight">Москва (противник: Джереми Уанна) (15 марта 2014)</li>
                                <li class="wins_fight">Москва (противник: Матуш Мастернак) (5 октября 2013)</li>
                                <li class="wins_fight">Москва (противник: Жан-Марк Монроз) (17 декабря 2012)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="person">
                <input type="radio" name="person" id="person_4" class="person-input">
                <label for="person_4" class="person_name">Денис Лебедев</label>
                <div class="person_bio">
                    <div class="person_short">
                        <div class="person_avatar person_avatar_4"></div>
                        <div class="person_description">
                            <h2>Денис Лебедев</h2>
                            <p>20&nbsp;побед, 2&nbsp;поражения; до&nbsp;90,7&nbsp;кг; 36&nbsp;лет.</p>
                            <p>Боксёр</p>
                        </div>
                    </div>
                    <div class="person_full">
                        <p>Как-то никто и не обратил внимания, что Денис провел, возможно, лучший год спортивной
                            карьеры. Две защиты титула, одна из которых была на том самом вечере бокса в Казани, где
                            россияне уверенно падали, а гости разрушали челюсти и статусы заранее проигравших. Денис
                            показал, что способен обучаться, способен стать более подвижным и способен расти. Если в бою
                            с Каленгой он прибавил в работе ногами и мышлении, то ко второму бою в году сумел добавить к
                            этому удар, который всегда был при нем.</p>
                        <div class="person_imgs">
                            <div class="person_img person_img--1"></div>
                            <div class="person_img person_img--2"></div>
                        </div>
                        <div class="person_wins">
                            <h2>Поединки</h2>
                            <ul>
                                <li class="wins_fight">Табисо Мчуну	ДС им. Ивана Ярыгина, Красноярск, Россия (21 декабря 2019)</li>
                                <li class="wins_fight">Уилсон	Casino de Monte Carlo Salle Medecin, Монте-Карло, Монако (24 ноября 2018)</li>
                                <li class="wins_fight">Хизни Алтункая	ДС «Трактор», Челябинск, Россия (7 сентября 2018)</li>
                                <li class="wins_fight">Марк Флэнаган	ДИВС, Екатеринбург, Россия (9 июля 2017)</li>
                                <li class="wins_fight">Мурат Гассиев	Мегаспорт, Москва, Россия (3 декабря 2016)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="wrapper">
            <h1>Страшный подвал</h1>
        </div>
    </footer>
</body>

</html>