<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Легенды ФБР</title>
    <link rel="stylesheet" href="/general_lib/normaliz.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="hero">
        <img src="" alt="" class="hero_logo" />
        <div class="hero_info">
          <h1>Федерация Бокса России</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
            impedit consequuntur aliquid quia nihil repudiandae atque.
            Voluptates illo, saepe maiores, consequatur animi dolorum aut velit,
            sapiente praesentium culpa ipsam provident. Maiores, modi.
          </p>
        </div>
      </div>
    </header>
    <main>
        <div class="feedback">
            <div class="feedback_info">
                <p>Чемпионы не делаются в спортивных залах. Они сделаны из чего-то нематериального, что очень много внутри них. Это мечта, желание, видение.</p>
                <span>Мухаммед Али</span>
            </div>
            <div class="feedback_avatar">Фоновая картинка</div>
        </div>
        <div class="legends">
            <h2>Легенды Бокса России</h2>
            <div class="legends_cards">
                <div class="legends_person">
                    <label class="legends_name" for="person_1">Something name 1</label>
                    <input type="radio" name="person" id="person_1" class="legends_input">
                    <div class="legends_info">
                        <div class="legends_general">
                            <img src="" alt="" class="legends_avatar">
                            <div class="legends_text">
                                <h2>Something name</h2>
                                <p class="legends_profession">profession, profession</p>
                                <p class="legends_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quo recusandae delectus magnam officia deleniti cupiditate eveniet sunt eum! Ab?</p>
                            </div>
                        </div>
                        <div class="legends_wins">
                            <h3>Участие</h3>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="legends_person">
                    <label class="legends_name" for="person_2">Something name 2</label>
                    <input type="radio" name="person" id="person_2" class="legends_input">
                    <div class="legends_info">
                        <div class="legends_general">
                            <img src="" alt="" class="legends_avatar">
                            <div class="legends_text">
                                <h2>Something name</h2>
                                <p class="legends_profession">profession, profession</p>
                                <p class="legends_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quo recusandae delectus magnam officia deleniti cupiditate eveniet sunt eum! Ab?</p>
                            </div>
                        </div>
                        <div class="legends_wins">
                            <h3>Участие</h3>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="legends_person">
                    <label class="legends_name" for="person_3">Something name 3</label>
                    <input type="radio" name="person" id="person_3" class="legends_input">
                    <div class="legends_info">
                        <div class="legends_general">
                            <img src="" alt="" class="legends_avatar">
                            <div class="legends_text">
                                <h2>Something name</h2>
                                <p class="legends_profession">profession, profession</p>
                                <p class="legends_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quo recusandae delectus magnam officia deleniti cupiditate eveniet sunt eum! Ab?</p>
                            </div>
                        </div>
                        <div class="legends_wins">
                            <h3>Участие</h3>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="legends_person">
                    <label class="legends_name" for="person_4">Something name 4</label>
                    <input type="radio" name="person" id="person_4" class="legends_input">
                    <div class="legends_info">
                        <div class="legends_general">
                            <img src="" alt="" class="legends_avatar">
                            <div class="legends_text">
                                <h2>Something name</h2>
                                <p class="legends_profession">profession, profession</p>
                                <p class="legends_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quo recusandae delectus magnam officia deleniti cupiditate eveniet sunt eum! Ab?</p>
                            </div>
                        </div>
                        <div class="legends_wins">
                            <h3>Участие</h3>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="legends_person">
                    <label class="legends_name" for="person_5">Something name 5</label>
                    <input type="radio" name="person" id="person_5" class="legends_input">
                    <div class="legends_info">
                        <div class="legends_general">
                            <img src="" alt="" class="legends_avatar">
                            <div class="legends_text">
                                <h2>Something name</h2>
                                <p class="legends_profession">profession, profession</p>
                                <p class="legends_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quo recusandae delectus magnam officia deleniti cupiditate eveniet sunt eum! Ab?</p>
                            </div>
                        </div>
                        <div class="legends_wins">
                            <h3>Участие</h3>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <footer>
        <img src="" alt="" class="footer_logo">
        <div class="footer_map"></div>
        <div class="footer_contacts"></div>
    </footer>
  </body>
</html>
