*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin liner_gradient($deg, $color1, $color2) {
  background: -moz-linear-gradient($deg, $color1, $color2);
  background: -o-linear-gradient($deg, $color1, $color2);
  background: -webkit-linear-gradient($deg, $color1, $color2);
}

body {
  background-color: #0f0f0f;
  margin: 0%;
  color: aliceblue;
}

header {
  background-color: #2b2b2b;
}
footer {
  background-color: #220e0e;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 64px;
  min-height: 320px;
}

h1 {
  text-align: center;
}

.person {
  width: 900px;

  margin: 16px auto;
}
.person_name:hover {
  background-color: #3f1919;
}
.person-input:checked ~ .person_name {
  background-color: #c00000;
}
.person-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.person_name::after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;

  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.person_name {
  display: block;
  background-color: #323232;
  position: relative;

  width: 100%;

  padding: 8px 16px;
  border-radius: 4px;
}

.person-input:checked ~ .person_name::after {
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #fff transparent;
}
@mixin grid-gap($gap) {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;

  gap: $gap;
  row-gap: $gap;
  column-gap: $gap;
  grid-gap: $gap;
  -moz-column-gap: $gap;
  -ms-grid-row: $gap;
  -ms-grid-row: $gap;
  -webkit-column-gap: $gap;
}
.person-input:checked ~ .person_bio {
  grid-template-columns: 180px auto;
  @include grid-gap(20px);
  // justify-items: center;
  // align-items: center;
}
.person_bio {
  display: none;
  padding: 16px 32px;
}
.person_bio > * {
  background-color: #32323255;
  padding: 16px;
  border-radius: 8px;
}
@mixin flex-center-base() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person_short {
  @include flex-center-base();
  text-align: center;
}
.person_avatar {
  width: 160px;
  height: 240px;
  background: gray;
}
.person_description {
}
.person_full {
}
.person_imgs {
  @include grid-gap(16px);
  grid-template-columns: 1fr 1fr;
}
.person_img {
  background-color: #2b2b2b;
  height: 120px;
}
.person_img--1 {
}
.person_img--2 {
}
.person_wins {
  // grid-column: span 2;
  h2 {
    text-align: left;
  }
  ul {
    list-style:inside;
  }
}
