<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="upbar">
            <div class="logo"></div>
            <menu class="menu">
                <a href=""><span>item</span></a>
                <a href=""><span>item</span></a>
                <a href=""><span>item</span></a>
                <a href=""><span>item</span></a>
                <a href=""><span>item</span></a>
            </menu>
            <div class="locate"></div>
            <div class="contacts"></div>
        </div>
        <div class="banner">
            <div class="banner_top">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                <div class="banner_about">
                    <span class="banner_start">the highest rated</span>
                    <p class="banner_text">Text that is placed at the bottom of the heading to reveal details</p>
                </div>
            </div>
            <div class="banner_under">
                <button class="banner_btn"><span>Book now</span></button>
            </div>
        </div>
    </header>
    <div class="features">
        <div class="features_card">
            <object class="card_svg" data="" type="">
                <img src="" alt="">
            </object>
            <h4 class="card_header">Lorem ipsum dolor sit.</h4>
            <p class="card_about">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="features_card">
            <object class="card_svg" data="" type="">
                <img src="" alt="">
            </object>
            <h4 class="card_header">Lorem ipsum dolor sit.</h4>
            <p class="card_about">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="features_card">
            <object class="card_svg" data="" type="">
                <img src="" alt="">
            </object>
            <h4 class="card_header">Lorem ipsum dolor sit.</h4>
            <p class="card_about">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>
    <div class="about">
        <h2 class="about_header">About us</h2>
        <p class="about_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt</p>
        <div class="imgs_grid">
            <div class="grid_part grid_part--left">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="grid_part grid_part--right">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
        <div class="about_controls">
            <button class="about_btn about_btn--main"><span>Our masters and their masterpieces</span></button>
            <button class="about_btn about_btn--other"><span>Our Instagram</span></button>
        </div>
    </div>
    <div class="testimonials">
        <h2>Testimonials</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, cupiditate!</p>
        <div class="slider">
            <button class="slider_btn slider_prev">
                <object data="" type="">
                    <img src="" alt="">
                </object>
            </button>
            <div class="slider_view">
                <div class="slider_line">
                    <div class="slide">
                        <img class="slide_img" src="" alt="">
                        <h3 class="slide_name">Darrell Steward</h3>
                        <p class="slide_text">Describe the feedback or end result the person received after interacting with you. What exactly did it give him. You can describe the result in numbers to be specific.</p>
                        <a href="slide_link">Read full testimonial</a>
                    </div>
                </div>
            </div>
            <button class="slider_btn slider_next">
                <object data="" type="">
                    <img src="" alt="">
                </object>
            </button>
        </div>
    </div>
    <div class="prices">
        <h2 class="prices_header">Our Price</h2>
        <p class="prices_about">Subheading that reveals the details of the title and calls for the targeted action</p>
        <div class="prices_slider">
            <div class="prices_item">
                <div class="item_img item_img--1"></div>
                <h3 class="item_name">Shaving</h3>
                <div class="prices_list">
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prices_item">
                <div class="item_img item_img--1"></div>
                <h3 class="item_name">Shaving</h3>
                <div class="prices_list">
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prices_item">
                <div class="item_img item_img--1"></div>
                <h3 class="item_name">Shaving</h3>
                <div class="prices_list">
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                    <div class="prices_work">
                        <span class="work_name"></span>
                        <div class="work_about">
                            <span class="work_time">60 min</span>
                            <span class="work_cost">$45</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>