@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {
    --def_fontSize_p: 16px;
    --def_fontSize_h1: 32px;
    --def_fontSize_h2: 24px;

    --font_size: 5;
    --margin_mainText: 5;
    --line_height_p: 5;

    --h_menu_btn: 28px;
    --w_menu_btn: 162px;
    --h_menu_body: 520px;
    --w_menu_body: 700px;
    --size_theme_btn: 48px;
    --font_family_menu: 'Roboto', sans-serif;
}

html {
    background-color: var(--main_bgc);
    color: var(--main_color);
}

main {
    margin: 0 calc(var(--margin_mainText) * 25px);
    font-family: var(--font_family_menu);
    padding-bottom: var(--h_menu_btn);
    line-height: calc(2px + var(--line_height_p)/3 * var(--def_fontSize_p));
}

p {
    font-size: calc(var(--font_size)/3 * var(--def_fontSize_p));
    font-weight: 400;
    text-align: justify;
}

h1 {
    font-size: calc(var(--font_size)/3 * var(--def_fontSize_h1));
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: calc(var(--font_size)/3 * var(--def_fontSize_h2));
    font-weight: 900;
    text-align: center;

}

.menu {
    display: grid;
    position: fixed;
    bottom: calc(var(--h_menu_body) / -1);
    left: 50%;
    transform: translateX(-50%);
    transition: bottom .5s;
}

.menu_body {
    height: var(--h_menu_body);
    width: var(--w_menu_body);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: center;

    background: var(--menu_bgc);
    border-radius: 10px 10px 0px 0px;
}

.btn_menu {
    border: 0;
    height: var(--h_menu_btn);
    width: var(--w_menu_btn);
    margin: 0 auto;
    filter: drop-shadow(2px 0px 6px rgba(0, 0, 0, 0.36));

    background: var(--menu_btn_bgc);
    color: var(--menu_btn_color);
    border-radius: 10px 10px 0px 0px;

    z-index: -1;
}

.btn_menu svg {
    transform:rotate(180deg);
}

.control {
    display: flex;
    margin: 27px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.name_controle {
    font-family: var(--font_family_menu);
    color: var(--menu_name_controle_color);
    font-size: 24px;
    font-weight: 900;
}

.control_themes {
    display: grid;
    grid-template-columns: repeat(3, 64px);
    width: 90%;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.theme {
    border-radius: 50%;
    width: var(--size_theme_btn);
    height: var(--size_theme_btn);
}

.theme_dark {
    background: var(--theme_dark_bgc);
    border: 2px solid var(--theme_dark_border);
    box-sizing: border-box;
}

.theme_light {
    background: var(--theme_light_bgc);
    border: 2px solid var(--theme_light_border);
    box-sizing: border-box;
}

.theme_history {
    background: var(--theme_history_bgc);
    border: 2px solid var(--theme_history_border);
    box-sizing: border-box;
}

.inputNumber {
    width: 64px;
    height: 44px;

    font-family: var(--font_family_menu);
    font-weight: 500;
    color: var(--menu_inputNumber_color);
    text-align: center;

    border: 0;
    border-radius: 9px;
    display: grid;
    background-color: var(menu_inputNumber_);
}

.inputNumber span {
    margin: auto;
}

.range {
    margin: 0 48px;
    width: 340px;
}

.range {}

.control_fs {}

.range_fs {}

.input_fs {}

.control_m {}

.range_m {}

.input_m {}

.control_lh {}

.range_lh {}

.input_lh {}