html {
    background-color: #eee;
}
.progress {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #eee;
    height: 10px;
}
.progress_bar {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: #cacaca;
    border-radius: 1px;
}
.progress_bar .line_progress {
    height: 100%;
    min-width: 1%;
    width: 1%;
    border-radius: inherit;
    background-color: gray;
}
main {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
}
main h2 {
    font-size: 21px;
}
main p {
    font-size: 16px;
}
.buttons {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #eee;
    justify-content: center;
    column-gap: 10px;
    height: 32px;
    align-items: center;
}
.buttons svg {
    width: 10px;
    height: 10px;
    margin: auto;
    fill: #1e1e1e;
}
.buttons .but {
    display: flex;
    width: 80px;
    height: 21px;
    background-color: #dadada;
    border-radius: 9px;
    border: 0;
}
.buttons .but:hover {
    background-color: #b6b6b6;
}
