<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link rel="stylesheet" href="/general_lib/normaliz.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="nav">
      <div class="boxMenu">
        <button class="menu flex-c-c">
          <svg
            width="24"
            height="20"
            viewBox="0 0 24 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="24" height="4" rx="2" class="f1" />
            <rect y="8" width="24" height="4" rx="2" class="f1" />
            <rect y="16" width="24" height="4" rx="2" class="f1" />
          </svg>
        </button>
        <div class="items">
          <div class="itemMenu">
            <div class="img"></div>
            <div class="name">item menu</div>
          </div>
          <div class="itemMenu">
            <div class="img"></div>
            <div class="name">item menu</div>
          </div>
          <div class="itemMenu">
            <div class="img"></div>
            <div class="name">item menu</div>
          </div>
          <div class="itemMenu">
            <div class="img"></div>
            <div class="name">item menu</div>
          </div>
          <div class="itemMenu">
            <div class="img"></div>
            <div class="name">item menu</div>
          </div>
        </div>
        <div class="accont">
          <div class="info"></div>
          <button class="exit"></button>
        </div>
      </div>
    </div>
    <main>
      <div class="wrepper">
        <div class="block"></div>
        <div class="block"></div>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          atque ratione animi ea minima cum sint? Voluptatibus architecto
          repudiandae exercitationem. Repellat ullam quas reprehenderit maxime
          esse molestiae quae ab temporibus?
        </p>
        <div class="block"></div>

        <div class="block"></div>
        <div class="block"></div>

        <div class="block"></div>
        <div class="block"></div>

        <div class="block"></div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          atque ratione animi ea minima cum sint? Voluptatibus architecto
          repudiandae exercitationem. Repellat ullam quas reprehenderit maxime
          esse molestiae quae ab temporibus?
        </p>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          atque ratione animi ea minima cum sint? Voluptatibus architecto
          repudiandae exercitationem. Repellat ullam quas reprehenderit maxime
          esse molestiae quae ab temporibus?
        </p>
        <div class="block"></div>

        <div class="block"></div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          atque ratione animi ea minima cum sint? Voluptatibus architecto
          repudiandae exercitationem. Repellat ullam quas reprehenderit maxime
          esse molestiae quae ab temporibus?
        </p>
        <div class="block"></div>
        <div class="block"></div>
      </div>
    </main>
  </body>
</html>
