<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Мяу 404!</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="wrepper">
      <img
        src="https://pm1.narvii.com/6670/574eea56dc93ff1ef91d6bc6f93817f639af031b_hq.jpg"
        alt="Чиби_кот"
      />
      <div class="text">
        <h1>Error 404!</h1>
        <p>
          А&nbsp;где&nbsp;все? Мне&nbsp;одиноко,&nbsp;мяу.
        </p>
        <p>:(</p>
        <span class="urder_subscribe">Чиби&nbsp;котя</span>
      </div>
    </div>
  </body>
  <script>
    document.body.style.height = window.innerHeight + "px";
  </script>
</html>
