body {
    margin: 0;
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    background-color: #333;
    color: #ccc;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20pt;
}

p {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

.value {
    padding: 20px;
    border-radius: 8px;
    background-color: #444;
}

.center {
    display: flex;
    align-items: center;
    gap: 16px;
}