@media only screen and (max-width: 1000px) { /*Phones*/
    .nav {display: none;}
    .wrapper {width: 90%;margin: 5%;}
    .wrapper h2 {font-size: 6vw;}
    .borderBox1 {width: 80%;margin: 0 10%}
    .button {width: 70%; margin: 2% 15%;font-size: 4vw;}
    .g-b {height: 5vw;margin-right: 25px;}
    .bottom {font-size: 5vw;line-height: 8vw;height: 8vw;}
    .banerHeros {height: 400px;}
    .avatar-radius {height: 7rem;margin: 1.5rem 0;}
    header > h1 {line-height: 10rem;}
    .positionUser p {font-size: 3vw;}
    .bottunMenu {width: 7rem;height: 7rem;margin: 1.5rem;}
    .content {display: block;}
    .infoBox {width: 100%;max-height: none;}
    .infoBox p {font-size: 4vw;}
    .textBox1 {width: 100%;padding-left: 0;}
    .galery {flex-wrap: wrap;}
    .textBox p {font-size: 4vw;margin: 3%;}
    .textBox h3 {font-size: 5vw;}
    .textBox h4 {font-size: 4.5vw;}
    .borderBox2 {width:70%;height:auto;padding: 1.25%;margin: 0 0 20px 0;}
    .textBox2 ul {padding-left: 8vw;}
    .textBox2 li {font-size: 4vw;}
    .flex-table {display: block;}
    .sec {width: 100%;}
    .textMBox {width: 100%;}
}
@media only screen and (min-width: 1000px) and (max-width: 1282px) { /*tablet*/
    .nav {display: none;}
    header > h1 {line-height: 6rem;}
    .avatar-radius {height: 5.6rem;margin: 0.2rem 0;}
    .bottunMenu {width: 4rem;height: 4rem;margin: 1rem;}
    .wrapper {width: 100%;}
    .menuBox .li {font-size: 2vw;background-color: #191919;}
    .underMenu li {font-size: 1.5vw;}
}
@media only screen and (min-width: 1282px) { /*PC*/
    .bottunMenu {display: none;}
}