<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/general_lib/normaliz.css" />
    <title>Porten</title>
  </head>
  <body>
    <header>
      <div class="contener">
        <div class="head-info">
          <div class="info">
            <img src="img/phone.svg" alt="iocon phone" />
            <span
              >8 (812) 123-45-67&nbsp;| Работаем 7&nbsp;дней
              в&nbsp;неделю&nbsp;| 9:00&nbsp;&mdash; 18:00</span
            >
          </div>
          <div class="inUp">
            <img src="img/inUp.svg" alt="in/up account" />
            <span>Вход/Регистрация</span>
          </div>
        </div>
      </div>

      <div class="head-menu">
        <div class="contener">
          <div class="logo">
            <span>Porten</span>
          </div>
          <nav class="nav">
            <div><span>Понравилось</span></div>
            <div><span>Личный кабинет</span></div>
            <div><span>Настройки</span></div>
            <div><img src="img/basket.svg" alt="button basket" /></div>
            <div><img src="img/search.svg" alt="button search" /></div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="big-banner">
        <div class="contener">
          <div class="boxSity">
            <div class="textlogo">
              <div class="name">Porten</div>
              <div class="sity">санкт-петербург</div>
            </div>
          </div>
          <p class="descript">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
            interdum purus, est tortor pulvinar ut&nbsp;in. Fringilla
            a&nbsp;diam enim sed justo, sed iaculis sagittis. Tortor
            id&nbsp;eu&nbsp;interdum nec ut&nbsp;iaculis. Penatibus ullamcorper
            ultricies morbi ipsum sem metus pharetra, mi. Tortor nibh magna
            feugiat id&nbsp;nunc, dui nisl viverra.
          </p>
        </div>
      </div>
      <div class="new">
        <div class="new-season">
          <h2>Сезон 2020/21</h2>
          <div class="line"></div>
          <ul class="new-season-grid">
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
          </ul>
        </div>
        <div class="new-collection">
          <div class="wrepper">
            <h2>Новая коллекция</h2>
            <div class="line"></div>
            <div class="but">Каталог</div>
          </div>
        </div>
      </div>
      <div class="collection_2018">
        <div class="collection-img"></div>
        <div class="collection-text">
          <h3>коллекция 2018</h3>
          <div class="line"></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non rutrum
            ornare ut mattis habitant dui arcu. Sagittis amet nunc ut neque quis
            nibh arcu. Vivamus vestibulum nisi et venenatis sed scelerisque
            magna consectetur. Amet convallis quis gravida facilisis vulputate.
            Faucibus facilisi habitasse ipsum interdum dictum aliquet. Velit
            quis ullamcorper pulvinar nulla malesuada integer. Aenean praesent
            viverra nulla nullam natoque volutpat curabitur auctor. Viverra
            viverra ullamcorper scelerisque risus dignissim egestas. Id aliquam
            a aliquam egestas leo orci pharetra sed diam.
          </p>
          <div class="but">посмотреть коллекцию</div>
        </div>
      </div>
      <div class="new-price">
        <div class="contener">
          <h2>новые поступления</h2>
          <div class="line"></div>
          <ul class="new-price-grid">
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
            <li>
              <div class="product-img"></div>
              <p class="name">Louis XVI&nbsp;ATHOS</p>
              <span class="price">165&nbsp;000&nbsp;руб.</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="brands">
        <div class="contener">
          <h2>наши бренды</h2>
          <div class="line"></div>
          <div class="brands-grid">
            <div class="brand"><img src="img/brand.svg" alt="img brand" /></div>
            <div class="brand"><img src="img/brand.svg" alt="img brand" /></div>
            <div class="brand"><img src="img/brand.svg" alt="img brand" /></div>
          </div>
        </div>
      </div>
      <div class="min-info">
        <div class="contener">
          <div class="min-info-grid">
            <div class="about">
              <h3>О магазине</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mi&nbsp;semper viverra nunc cursus tortor lectus nunc nulla
                nibh. Egestas amet consectetur vel vitae aliquam dictum
                suspendisse. Lobortis eget consequat, tellus et&nbsp;et&nbsp;sed
                turpis. Pretium quisque vitae, amet, porttitor odio ultricies
                massa pharetra leo. Et&nbsp;ipsum urna fames in&nbsp;sit
                mi&nbsp;ultrices nisi, nunc.
              </p>
            </div>
            <div class="categories">
              <h3>Категории</h3>
              <div class="flex-box">
                <a href="" class="catergor">Часы</a>
                <a href="" class="catergor">Браслеты</a>
                <a href="" class="catergor">Ремни</a>
                <a href="" class="catergor">ювелирные изделия</a>
                <a href="" class="catergor">запонки</a>
              </div>
            </div>
            <div class="subscription">
              <h3>Рассылка</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mi&nbsp;semper viverra nunc cursus tortor lectus nunc nulla
                nibh.
              </p>
              <form action="" class="formMail">
                <input type="email" name="mail" id="mail">
                <button  class="button">
                  <span>Подписаться</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="contener"></div>
    </footer>
  </body>
  <script src="script.js"></script>
</html>
