* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: raleway_m;
    src: url('../assets/fonts/raleway-v22-cyrillic-300.woff2');
    font-weight: 300;
}
@font-face {
    font-family: raleway_m;
    src: url('../assets/fonts/raleway-v22-cyrillic-900.woff2');
    font-weight: 900;
}

:root {
    --dark: #070707;
    --font_index: calc(1vw + 1vh);
    --trans: .75s cubic-bezier(0.140, 0.850, 0.000, 1.000);
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    
    color: #fff;
    font-family: raleway_m, sans-serif;
    line-height: 1.8;
    /* font-size: calc(var(--font_index) * .8); */

    overflow: hidden;

}

.slider {
	height: 100%;
	transform: rotate(15deg);
	overflow: visible;
	top: 30vh;
}
.slider_wrapper {
	transition: var(--trans)!important;
	will-change: transform;
}
.slider_item {
	max-height: 75vh;
	overflow: hidden;
	cursor: pointer;
	transition: transform var(--trans), box-shadow var(--trans);
}
.slider_img {
	width: 300%;
	height: 100%;
	background-size: cover;
	position: absolute;
	left: -100%;
	transition: var(--trans)!important;
	will-change: transform;
}
.slider_bg {
	z-index: 0;
	transform: rotate(-20deg)!important;
	top: -90vh;
	left: -10vh;
	opacity: .15;
	filter: blur(120px) saturate(10);
}
.slider_bg .slider_item {
	max-height: 100vh;
}
.slider_item.opened {
	z-index: 2;
	transform: rotate(-15deg) scale(1.45);
	box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
}
.description {
	position: absolute;
	font-size: calc(var(--font_index) * .8);
	top: 20vh;
	left: 8vw;
	max-width: 24vw;
	transition: opacity var(--trans), transform var(--trans);
}
.logo {
	font-size: calc(var(--font_index) * 3.6);
	font-weight: 900;
	display: inline-block;
	background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description p {
	opacity: .9;
	transition: transform var(--trans);
	transition-duration: 3s;
}
.description.hidden {
	opacity: 0;
	transform: translateY(5vh);
}
.description.hidden p {
	transform: translateY(2vh);
}