@media (max-width: 1000px) {
  header {
    max-height: 45px;
  }
  .menu {
    height: 45px;
    width: 45px;
  }
  .buttMenu {
    width: inherit;
    height: inherit;
    padding: 10px;
  }
  .itemsMenu {
    top: 45px;
    width: 100vw;
  }
  .logo {
    
  width: 100%;
  }
  .logo span {
    font-size: 40px;
  }
  .info {
    display: none;
  }
  .buttOpenMess > span {
    display: none;
  }
  .buttOpenMess {
    padding: 0 5px
      
  }
  .search {
    height: 45px;
    width: 45px;
  }
  .formSearch {
    display: none;
    position: absolute;
    top: 45px;
    background-color: inherit;
    width: 100vw;
    left: 0;
  }
  .wrapper {
    max-width: auto;
    margin:  0 10px;
  }
  main .wrepper {
    grid-template-columns: 1fr;
  }
  .boxNews {
    width: calc(100% - 30px);
  }
  footer .wrepper {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr 1fr
  }
  .cell {
    width: calc((100vw - 55px)/2);
    height: calc((100vw - 55px)/2);
  }
}