<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitTime</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body id="head">
    <header >
        <div class="header_subbox">
            <img src="img/noroot.png" class="header_logo" alt="" />
            <menu class="header_menu">
                <a href="#head">
                    <li>Главная</li>
                </a><a href="#programs">
                    <li>Программы</li>
                </a><a href="#gallery">
                    <li>Галерея</li>
                </a><a href="#pro">
                    <li>Команда</li>
                </a><a href="#contacts">
                    <li>Контакты</li>
                </a>
            </menu>
        </div>
        <div class="wrapper">
            <div class="header_banner">
                <div class="header_main">
                    <h1>FitTime</h1>
                    <p>Новый, современный и удобный клуб в г. Москва</p>
                    <a href="#">
                        <div class="header_button"><span>Записаться</span></div>
                    </a>
                </div>
                <div class="header_next">
                    <svg width="60" height="50" viewBox="0 0 60 50" xmlns="http://www.w3.org/2000/svg">
                        <path d="M55.9808 46L30 4L4.01929 46" stroke-width="4" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="main_squadron">

                <div class="squadron_imgs">
                    <div class="squadron_img squadron_img--1"></div>
                    <div class="squadron_img squadron_img--2"></div>
                    <div class="squadron_img squadron_img--3"></div>
                </div>

                <div class="squadron_text">
                    <h2>Новый образ жизни</h2>
                    <p>
                        Став частью нашей команды, вы сможете изменить привычный ритм
                        жизни и сделать каждый свой день особенным, а формат наших
                        тренировок позволит вам раскрыть потенциал вашего тела на 100%
                    </p>
                </div>
            </div>
            <div class="main_programs" id="programs">
                <h2>Наши программы</h2>
                <div class="programs_cards">
                    <div class="programs_card">
                        <img src="img/programs/noroot.png" alt="" />
                        <h3>Спортзал</h3>
                        <p>Большое разнообразие тренажёров и различных спортивных комплексов</p>
                    </div>
                    <div class="programs_card">
                        <img src="img/programs/end-free-icon-swim-7.png" alt="" />
                        <h3>Бассейн</h3>
                        <p>Глубокий и просторный бассейн для плавания и других видов водного спорта</p>
                    </div>
                    <div class="programs_card">
                        <img src="img/programs/end-premium-icon-box.png" alt="" />
                        <h3>Бойцовский клуб</h3>
                        <p>Для тех кто любит по жёстче</p>
                    </div>
                    <div class="programs_card">
                        <img src="img/programs/end-free-icon-yoga-m.png" alt="" />
                        <h3>Групповые тренировки</h3>
                        <p>Когда одиноко и скучно тренироваться одному</p>
                    </div>
                    <div class="programs_card">
                        <img src="img/programs/end-free-icon-massag.png" alt="" />
                        <h3>Массаж</h3>
                        <p>Лучший массаж от лучших специалистов</p>
                    </div>
                    <div class="programs_card">
                        <img src="img/programs/end-premium-icon-sau.png" alt="" />
                        <h3>Сауна</h3>
                        <p>Лучшее расслабление после тренировок.
                            Пропарь свои косточки</p>
                    </div>
                </div>
            </div>
            <div class="main_gallery" id="gallery">
                <h2>Галерея</h2>
                <p>
                    Мы располагаем всем необходимым современным оборудованием и
                    комфортабельными залами для тренировок любого типа
                </p>
                <div class="gallery_imgs">
                    <div class="gallery_img gallery_img--1"></div>
                    <div class="gallery_img gallery_img--2"></div>
                    <div class="gallery_img gallery_img--3"></div>
                    <div class="gallery_img gallery_img--4"></div>
                    <div class="gallery_img gallery_img--5"></div>
                    <div class="gallery_img gallery_img--6"></div>
                    <div class="gallery_img gallery_img--7"></div>
                    <div class="gallery_img gallery_img--8"></div>
                </div>
            </div>
            <div class="main_pro" id="pro">
                <h2>Лучшие из лучших</h2>
                <p>Нши профессионалы для каждого</p>
                <div class="pro_cards">
                    <div class="pro_card">
                        <img src="img/pro/noroot (1).png" alt="" class="pro_avatar">
                        <p class="pro_name">Сергей Александрович</p>
                        <span class="pro_pofession">Персональный тренер по боксу</span>
                        <p>Опыт работы в команде: 8 лет</p>
                        <p>Серебряный призер первенства мира по боксу (Куба)</p>
                    </div>
                    <div class="pro_card">
                        <img src="img/pro/noroot (2).png" alt="" class="pro_avatar">
                        <p class="pro_name">Даниил Муратов</p>
                        <span class="pro_pofession">Массажист</span>
                        <p>Опыт работы в команде: 6 лет</p>
                        <p>Профессиональное ГКА им. Маймонида, лечебное дело, врач</p>
                    </div>
                    <div class="pro_card">
                        <img src="img/pro/noroot (3).png" alt="" class="pro_avatar">
                        <p class="pro_name">Светлана Вячеславовна</p>
                        <span class="pro_pofession">Инструктор групповых программ</span>
                        <p>Опыт работы в команде: 7 лет</p>
                        <p>
                            Входит в состав Европейского реестра Ассоциации здоровья и
                            фитнеса
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="contacts">
        <div class="footer_map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A955834f7583ed4d4e550f520bef8159a6f11b186c36ea8e6e9f34aac3e873105&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
        <div class="footer_about">
            <p class="footer_addres">УЛ. ПЕТРОЗАВОДСКАЯ, Д.12</p>
            <a href="tel:+" class="footer_phone">+7 (495) 558-45-32</a>
            <a href="mailto:" class="footer_mail">fit@centr.ru</a>
            <p>Каждый день: с 6:00 до 23:00</p>
            <div class="footer_networks">
                <a href="">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                        viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                        <desc>Twitter</desc>
                        <path style="fill: #20d41a"
                            d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76 S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926 c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367 c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077 c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109 c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084 c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789 c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375">
                        </path>
                    </svg>
                </a>
                <a href="">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px"
                        viewBox="0 0 99 99" enable-background="new 0 0 99 99" xml:space="preserve">
                        <desc>VK</desc>
                        <path style="fill: #20d41a" fill-rule="evenodd" clip-rule="evenodd"
                            d="M49 98C76.062 98 98 76.062 98 49C98 21.938 76.062 0 49 0C21.938 0 0 21.938 0 49C0 76.062 21.938 98 49 98ZM22 34C22.4442 55.3198 33.1042 68.1323 51.7933 68.1323H52.8527V55.9351C59.7202 56.6182 64.9132 61.6409 66.9973 68.1323H76.7008C74.0359 58.4292 67.0314 53.0649 62.658 51.0149C67.0314 48.4866 73.1814 42.3367 74.6505 34H65.8353C63.922 40.7649 58.251 46.915 52.8527 47.4958V34H44.0374V57.6433C38.5707 56.2766 31.6692 49.6482 31.3617 34H22Z">
                        </path>
                    </svg>
                </a>
                <a href="">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 60 60"
                        xml:space="preserve">
                        <desc>Telegram</desc>
                        <path style="fill: #20d41a"
                            d="M30 0C13.4 0 0 13.4 0 30s13.4 30 30 30 30-13.4 30-30S46.6 0 30 0zm16.9 13.9l-6.7 31.5c-.1.6-.8.9-1.4.6l-10.3-6.9-5.5 5.2c-.5.4-1.2.2-1.4-.4L18 32.7l-9.5-3.9c-.7-.3-.7-1.5 0-1.8l37.1-14.1c.7-.2 1.4.3 1.3 1z">
                        </path>
                        <path style="fill: #20d41a" d="M22.7 40.6l.6-5.8 16.8-16.3-20.2 13.3"></path>
                    </svg>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>