<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>SONIC 3 <br />AND <br />KNUKLES</h1>
      <a href="#about">
        <div class="linkToStart">
          <span>> START</span>
        </div>
      </a>
    </header>
    <div class="header" id="about">
        <ul>
          <a href="#about"><li>
              <span>Описание</span>
            </li></a>
          <a href="#characters"><li>
            <span>Персонажи</span>
          </li></a>
          <a href="#contacts"><li>
            <span>О нас</span>
            </li></a>
        </ul>
      </div>
    <main>
      
      <div class="about" >
        <div class="banner"></div>
        <p>
          SONIC 3 AND KNUKLES игра в жанре 2д платформер, промчитесь по
          потрясающим уровням и остановите злого доктора Эггмана, тем самым
          защитив мобиус. Здесь мы расскажем вам о ключевых персонажах этого
          приключения.
        </p>
      </div>

      <div class="characters" id="characters">
        <p class="text">
          Пробегите остров ангела за сверхскоростного синего ежа Соника.
          Взлетите до самых небес с помощью хвостов Теилза. Пробейте себе путь с
          помощью силы Наклза.
        </p>
        <div class="characters_cards">
          <div class="card card--1">
            <div class="avatar"></div>
            <p class="name">Соник</p>
          </div>
          <div class="card card--2">
            <div class="avatar"></div>
            <p class="name">Наклз</p>
          </div>
          <div class="card card--3">
            <div class="avatar"></div>
            <p class="name">Теилз</p>
          </div>
        </div>
      </div>
    </main>
    <footer id="contacts">
      <div class="map">
        <script
          type="text/javascript"
          charset="utf-8"
          async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b66cd9660bcad7f36a589bb63336e647253f37f1ee3c3e758a8c053e699a66b&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"
        ></script>
      </div>
      <div class="text">
        <h1>Кто и где</h1>
        <p>Создали:</p>
        <ul>
          <li>Меликян Гарик</li>
          <li>Машин Иван</li>
        </ul>
        <p>Номер для связи: <a href="tel:+78005553535">+7-800-555-35-35</a></p>
        <div class="networks">
          <a
            href="https://vk.com/absolute_radiance"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="img/1486147227-social-media-network26_79482.svg"
              alt="логотип ВКонтакте"
          /></a>
          <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            target="_blank"
            rel="noopener noreferrer"
            ><img src="img/telegram_104163.svg" alt="логотип Telegram"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
