<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дом лучшей еды | Ресторан</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="top_bar">
                <img class="bar_logo" src="imgs/logo.svg" alt="logo">
                <nav>
                    <a class="bar_link" href="#" target="_blank" rel="noopener noreferrer">
                        <span>Главная</span>
                    </a>
                    <a class="bar_link" href="#" target="_blank" rel="noopener noreferrer">
                        <span>Меню</span>
                    </a>
                    <a class="bar_link" href="#" target="_blank" rel="noopener noreferrer">
                        <span>О нас</span>
                    </a>
                    <a class="bar_link" href="#" target="_blank" rel="noopener noreferrer">
                        <span>Бронь</span>
                    </a>
                    <button class="bar_basket">
                        <img src="imgs/basket.svg" alt="basket">
                    </button>
                </nav>
                <div class="bar_line"></div>
                <div class="bar_phone">
                    <a class="bar_tell" href="tel:+9998887654">
                        <div class="bar_tell--span">
                            <img src="imgs/tell.svg" alt="icon phone">
                            <span>+999-888-76-54</span>
                        </div>
                        <span class="bar_info">Свяжитесь с нами для бронирования</span>
                    </a>
                </div>
                <button class="header_btn bar_order">
                    <span>Заказ Столика</span>
                </button>
            </div>
            <div class="welcom">
                <div class="welcom_text">
                    <h1>Добро пожаловать в <br><span>Наш ресторан</span></h1>
                    <p class="welcom_name">дом лучшей еды</p>
                    <!--add ::after and ::before for paragraph-->
                    <a href="#menu">
                        <div class="header_btn">
                            <span>Посмотреть Меню</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div class="advantages">
            <div class="advantage">
                <img class="advantage_img" src="img/food_icon.svg" alt="">
                <h5 class="advantage_name">Магическая <span class="advantage_name--mark">Атмосфера</span></h5>
                <p class="advantage_description">В нашем заведении царит магическая атмосфера наполненная вкусными
                    ароматами</p>
            </div>
            <div class="advantage">
                <img class="advantage_img" src="img/food_icon.svg" alt="">
                <h5 class="advantage_name">Лучшее качество <span class="advantage_name--mark">Еды</span></h5>
                <p class="advantage_description">Качество нашей Еды - отменное!</p>
            </div>
            <div class="advantage">
                <img class="advantage_img" src="img/food_icon.svg" alt="">
                <h5 class="advantage_name">Недорогая <span class="advantage_name--mark">Еда</span></h5>
                <p class="advantage_description">Стоимость нашей Еды зависит только от ее количества. Качество всегда на
                    высоте!</p>
            </div>
        </div>
        <div class="history">
            <div class="wrapper">
                <div class="history_text">
                    <h1 class="history_header">Наша <span class="history_text--mark">История</span></h1>
                    <p class="history_about">Как и у любого другого самобытного места, у нас есть своя, особая история.
                        Идея
                        ресторана пришла основателям неожиданно. Во время прогулки по лесу создатель нашего ресторана
                        застрял в сотнях километров от ближайшего населенного пункта. Вдали от цивилизации и связи им
                        пришлось навремя обустровать себе нехитрый быт, добывать и готовить себе еду.</p>
                    <div class="history_statistics">
                        <div class="history_dish">
                            <div class="history_dish--count">
                                <span>93</span>
                            </div>
                            <div class="history_dish--name">
                                <span>Напитки</span>
                            </div>
                        </div>
                        <div class="history_dish">
                            <div class="history_dish--count">
                                <span>206</span>
                            </div>
                            <div class="history_dish--name">
                                <span>Еда</span>
                            </div>
                        </div>
                        <div class="history_dish">
                            <div class="history_dish--count">
                                <span>71</span>
                            </div>
                            <div class="history_dish--name">
                                <span>Закуски</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history_gallery">
                    <img class="history_gallery--img" src="imgs/gallery.svg" alt="">
                </div>
            </div>
        </div>
        <div class="stock">
            
        </div>
    </main>
</body>

</html>