<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/general_lib/normaliz.css" /> -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <img
        src="Screenshot_2022-06-17_at_22-33-22_.png"
        alt="logo"
        class="header_logo"
      />
      <menu class="menu">
        <a href="#pizza"
          ><li><span>Пицца</span></li></a
        >
        <a href="#drinks"
          ><li><span>Напитки</span></li></a
        >
        <a href="#about"
          ><li><span>Контакты</span></li></a
        >
      </menu>
      <div class="header_window">
        <div class="header_buy">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 19.25 19.25"
            style="enable-background: new 0 0 19.25 19.25"
            xml:space="preserve"
          >
            <path
              style=""
              d="M19.006,2.97c-0.191-0.219-0.466-0.345-0.756-0.345H4.431L4.236,1.461
                        C4.156,0.979,3.739,0.625,3.25,0.625H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124
                        c0.016,0.053,0.029,0.103,0.054,0.151c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112
                        c0.058,0.054,0.125,0.092,0.193,0.13c0.038,0.021,0.071,0.049,0.112,0.065c0.116,0.047,0.238,0.075,0.367,0.075
                        c0.001,0,11.001,0,11.001,0c0.553,0,1-0.447,1-1s-0.447-1-1-1H6.097l-0.166-1H17.25c0.498,0,0.92-0.366,0.99-0.858l1-7
                        C19.281,3.479,19.195,3.188,19.006,2.97z M17.097,4.625l-0.285,2H13.25v-2H17.097z M12.25,4.625v2h-3v-2H12.25z M12.25,7.625v2
                        h-3v-2H12.25z M8.25,4.625v2h-3c-0.053,0-0.101,0.015-0.148,0.03l-0.338-2.03H8.25z M5.264,7.625H8.25v2H5.597L5.264,7.625z
                            M13.25,9.625v-2h3.418l-0.285,2H13.25z"
            />
            <circle style="" cx="6.75" cy="17.125" r="1.5" />
            <circle style="" cx="15.75" cy="17.125" r="1.5" />
          </svg>
        </div>
        <div class="header_account">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <title />
            <g data-name="Layer 2" id="Layer_2">
              <path
                d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"
              />
              <path
                d="M16,17a5,5,0,1,1,5-5A5,5,0,0,1,16,17Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,16,9Z"
              />
              <path
                d="M25.55,24a1,1,0,0,1-.74-.32A11.35,11.35,0,0,0,16.46,20h-.92a11.27,11.27,0,0,0-7.85,3.16,1,1,0,0,1-1.38-1.44A13.24,13.24,0,0,1,15.54,18h.92a13.39,13.39,0,0,1,9.82,4.32A1,1,0,0,1,25.55,24Z"
              />
            </g>
            <g id="frame">
              <rect class="cls-1" height="32" width="32" />
            </g>
          </svg>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="main_category" id="pizza">
          <h1>Пицца</h1>
          <div class="products">
            <div class="products_grid">
              <div class="card">
                <img src="img/p_Barselona.gif" alt="" class="card_img" />
                <div>
                  <span class="card_name">Барселона</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, кусочки ветчины, шампиньоны,
                    свежие томаты
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>

              <div class="card">
                <img src="img/p_Venskaya.jpg" alt="" class="card_img" />
                <div>
                  <span class="card_name">Венская</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, сосиски, свежие томаты
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/p_Derevenskaya.jpg" alt="" class="card_img" />
                <div>
                  <span class="card_name">Деревенская</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, картофельное пюре, кусочки
                    бекона, лук
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/p_Pepperoni.jpg" alt="" class="card_img" />
                <div>
                  <span class="card_name">Пепперони</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, пикантная пепперони
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/p_CyplenokBarbeku.jpg" alt="" class="card_img" />
                <div>
                  <span class="card_name">Цыпленок-барбекю</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, кусочки ветчины, цыплёнок в
                    соусе барбекю
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/p_Kalifornia.jpg" alt="" class="card_img" />
                <div>
                  <span class="card_name">Калифорния</span>
                  <p class="card_about">
                    сыр Моцарелла, фирменный соус, сервелат, ветчина, свежие
                    томаты, острый перец халапеньо
                  </p>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">499.00 &#8381;</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="products_more">
              <span>...</span>
            </div>
          </div>
        </div>
        <div class="main_category" id="drinks">
          <h1>Напитки</h1>
          <div class="products">
            <div class="products_grid">
              <div class="card">
                <img src="img/5ea00ba2bf7d0.png" alt="" class="card_img" />
                <div>
                  <span class="card_name">Кока-кола</span>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">150.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/mohito.png" alt="" class="card_img" />
                <div>
                  <span class="card_name">Мохито</span>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">150.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/-05.png" alt="" class="card_img" />
                <div>
                  <span class="card_name">Fanta</span>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">150.00 &#8381;</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="img/1192986.png" alt="" class="card_img" />
                <div>
                  <span class="card_name">Sprite</span>
                  <div class="card_under">
                    <button class="card_buy">В козину</button>
                    <span class="card_price">150.00 &#8381;</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="products_more">
              <span>...</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer id="about">
      <div class="map">
        <script
          type="text/javascript"
          charset="utf-8"
          async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac8a3e8b8a60e0e08d2897b451087073ccc706f420e0d4133aa42a2d3e53082ff&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"
        ></script>
      </div>
      <div class="text">
        <h1>О нас</h1>
        <a href="tel:+79163079722"><span>+7-916-307-97-22</span></a>
        <a href="mailto:something@mail.com"><span>something@mail.com</span></a>
        <a href="#"><span>Условия доставки</span></a>
        <a href="#"><span>Условия конфиденциальности</span></a>
        <a href="#"><span>Вакансии</span></a>
        <div class="networks">
          <a href="#"
            ><img
              src="img/1486147227-social-media-network26_79482.svg"
              alt="логотип ВКонтакте"
          /></a>
          <a href="#"
            ><img src="img/telegram_104163.svg" alt="логотип Telegram"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
