<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates #18 Курс по сборке ПК</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="start">
        <div class="start_header">
            <object data="pic/header/logo.svg" type="image/svg+xml" class="header_logo">
                <img src="pic/header/logo.png" alt="Логотип">
            </object>
            <menu class="header_menu">
                <a href="" class="menu_link">Главная</a>
                <a href="" class="menu_link">Курсы</a>
                <a href="" class="menu_link">Расписание</a>
                <a href="" class="menu_link">Преподаватели</a>
                <a href="" class="menu_link">Рассылка</a>
                <a href="" class="menu_link">Контакты</a>
            </menu>
            <div class="header_login">
                <button class="login_signin">
                    <span>Зайти в кабинет</span>
                </button>
            </div>
        </div>
        <div class="start_banner">
            <h1 class="banner_h1">Первый курс по компьютерной сборке</h1>
            <div class="banner_timer">
                <div class="timer_days timer_item">
                    <span class="timer_number">12</span>
                    <div class="timer_name">Дней</div>
                </div>
                <div class="timer_hours timer_item">
                    <span class="timer_number">34</span>
                    <div class="timer_name">Часов</div>
                </div>
                <div class="timer_minuts timer_item">
                    <span class="timer_number">56</span>
                    <div class="timer_name">Минут</div>
                </div>
                <div class="timer_secunds timer_item">
                    <span class="timer_number">59</span>
                    <div class="timer_name">Секунд</div>
                </div>
            </div>
        </div>
    </div>
    <div class="fast">
        <div class="fast_wrapper">
            <button class="fast_button"><span>Записаться на курс</span></button>
            <div class="fast_count">
                <div class="count_item">
                    <div class="count_name">Учеников всего:</div>
                    <div class="count_number">200</div>
                </div>
                <div class="count_item">
                    <div class="count_name">Успешно закончили курс:</div>
                    <div class="count_number">190</div>
                </div>
            </div>
            <div class="fast_money">
                <div class="money_item">
                    <div class="money_name">Заработано учениками:</div>
                    <div class="money_number">400 000&#8381;</div>
                </div>
                <div class="money_progressbar">
                    <div class="progressbar_line">
                        <div class="progressbar_progress"></div>
                    </div>
                    <div class="progressbar_numbers">
                        <span class="progressbar_number progressbar_start">0</span>
                        <span class="progressbar_number progressbar_end">1 000 000&#8381;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about_box">
            <img src="pic/main/image.png" alt="PC" class="about_img">
        </div>
        <div class="about_text">
            <h2>Чем мы занимаемся?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga maxime rem quia, eaque dolorum magni
                accusantium voluptatum? Tenetur dignissimos et facere, blanditiis ducimus modi magni molestiae eligendi
                nam ex, voluptates voluptatibus quis ipsum pariatur nihil culpa possimus dicta? Repudiandae aperiam,
                sequi amet dolore corrupti minus voluptate dignissimos numquam quidem labore molestiae culpa debitis
                suscipit cumque esse totam deleniti optio et eum iusto veniam nobis. Accusamus reiciendis in adipisci!
            </p>
        </div>
    </div>
    <div class="fastStart">
        <div class="fastStart_header">
            <div class="header_name">
                <img src="pic/start/start_logo.svg" alt="" class="header_logo">
                <h2 class="header_head">Быстрый старт</h2>
            </div>
            <p class="header_about">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</p>
        </div>
        <div class="fastStart_infographic">
            <div class="infographic_part infographic_100">
                <p class="infographic_value">100%</p>
                <div class="infographic_bg"></div>
                <p class="infographic_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
                    voluptate saepe unde fugit. Odit illo sed, rem ex harum delectus blanditiis. Qui tempora porro id
                    ullam veniam perferendis, alias aut recusandae ex eos illo quam reiciendis.</p>
            </div>
            <div class="infographic_part infographic_75">
                <p class="infographic_value">75%</p>
                <div class="infographic_bg"></div>
                <p class="infographic_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
                    voluptate saepe unde fugit. Odit illo sed, rem ex harum delectus blanditiis. Qui tempora porro id
                    ullam veniam perferendis, alias aut recusandae ex eos illo quam reiciendis.</p>
            </div>
            <div class="infographic_part infographic_50">
                <p class="infographic_value">50%</p>
                <div class="infographic_bg"></div>
                <p class="infographic_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
                    voluptate saepe unde fugit. Odit illo sed, rem ex harum delectus blanditiis. Qui tempora porro id
                    ullam veniam perferendis, alias aut recusandae ex eos illo quam reiciendis.</p>
            </div>
            <div class="infographic_part infographic_end">
                <p class="infographic_value">Итог</p>
                <div class="infographic_bg"></div>
                <p class="infographic_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
                    voluptate saepe unde fugit. Odit illo sed, rem ex harum delectus blanditiis. Qui tempora porro id
                    ullam veniam perferendis, alias aut recusandae ex eos illo quam reiciendis.</p>
            </div>
        </div>
    </div>
    <div class="advantages">
        <h2 class="advantages_title">
            Получите профессию прямо сейчас
        </h2>
        <div class="advantages_cards">
            <div class="advantages_card">
                <img src="pic/advantages/svg_1.svg" alt="Иконка ПК" class="card_img">
                <h3 class="card_title">Только практические навыки в работе</h3>
                <div class="p card_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eius esse quia
                    harum excepturi earum natus!</div>
            </div>
            <div class="advantages_card">
                <img src="pic/advantages/svg_2.svg" alt="Иконка Флеш-карты" class="card_img">
                <h3 class="card_title">Работа на самом современном оборудовании</h3>
                <div class="p card_about">Quos odio ipsa accusamus. Dolores, iure. Cupiditate nostrum maxime reiciendis
                    dolores consequuntur dolorum esse. Vero, laborum!</div>
            </div>
            <div class="advantages_card">
                <img src="pic/advantages/svg_3.svg" alt="Иконка провода" class="card_img">
                <h3 class="card_title">Сертификация по окончании обучения</h3>
                <div class="p card_about">Laborum accusantium quae doloribus tempore porro quidem illum necessitatibus
                    explicabo assumenda voluptas fugit magnam, ea quo.</div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="partners_header">
            <div class="header_name">
                <img src="pic/start/start_logo.svg" alt="" class="header_logo">
                <h2 class="header_head">Партнёры - топовые бренды</h2>
            </div>
        </div>
        <div class="partners_table">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
            <img class="table_logo" src="pic/partners/logo (1).png" alt="логотип партнёра">
        </div>
    </div>
</body>

</html>