<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/general_lib/normaliz.css">
</head>
<body>
    <header class="hero">
        <div class="nav_box">
            <div class="contaner">
                <div class="logo"></div>
                <div class="nav">
                    <nav>
                        <ul>
                            <a href="" target="_blank" rel="noopener noreferrer"><li>Главная</li></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><li>О нас</li></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><li>Контакты</li></a>
                            <a href="" target="_blank" rel="noopener noreferrer"><li>Поиск</li></a>
                        </ul>
                    </nav>
                    <a  class="tel">
                        <img class="icon_tel" src="img/tel.svg"/>
                        <span>+7 (987) 887-87</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner"></div>
    </header>
    <div class="contaner">
        <main>
            <div class="grup_box box_t1"><!--Тип 1-->
                <div class="box">
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
            </div>
            <div class="grup_box box_t2">
                <div class="box"><!--Тип 2.1-->
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
                <div class="box box_edge"><!--Тип 2.2-->
                    <div>
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                    <span class="dataAad">13 дек 2020</span>
                </div>
            </div>
            <div class="grup_box box_t3"><!--Тип 3--> <!--Grid techologe-->
                <div class="box box_edge">
                    <div>
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                    <span class="dataAad">13 дек 2020</span>
                </div>
                <div class="box_dubl">
                    <div class="box_inner">
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                            <span class="dataAad">13 дек 2020</span>
                        </div>
                        <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача слово слово и&nbsp;еще длинное слово после чего ...</h2>
                    </div>
                    <div class="box_inner">
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                            <span class="dataAad">13 дек 2020</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                </div>
            </div>
            <div class="grup_box box_t1">
                <div class="box"><!--Тип 1-->
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
            </div>
            <div class="grup_box box_t2">
                <div class="box"><!--Тип 2.1-->
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
                <div class="box box_edge"><!--Тип 2.2-->
                    <div>
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                    <span class="dataAad">13 дек 2020</span>
                </div>
            </div>
            <div class="grup_box box_t3"><!--Тип 3--> <!--Grid techologe-->
                <div class="box box_edge">
                    <div>
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                    <span class="dataAad">13 дек 2020</span>
                </div>
                <div class="box_dubl">
                    <div class="box_inner">
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                            <span class="dataAad">13 дек 2020</span>
                        </div>
                        <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача слово слово и&nbsp;еще длинное слово после чего ...</h2>
                    </div>
                    <div class="box_inner">
                        <div class="top_box">
                            <span class="name_categor">Категория 1</span>
                            <span class="dataAad">13 дек 2020</span>
                        </div>
                        <h2>ITAM&amp;SAMDay&nbsp;&mdash; самая настоящая удача!</h2>
                    </div>
                </div>
            </div>
            <div class="grup_box box_t1">
                <div class="box"><!--Тип 1-->
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
            </div>
            <div class="grup_box box_t1">
                <div class="box"><!--Тип 1-->
                    <div class="top_box">
                        <span class="name_categor">Категория 1</span>
                        <span class="dataAad">13 дек 2020</span>
                    </div>
                    <h2>Управление ИТ-активами&nbsp;&mdash; скучная рутина или творческая задача?</h2>
                    <p>Размышляя об&nbsp;управлении ИТ-активами, я&nbsp;вспомнил один учебный пример. Менеджер по&nbsp;ИТ-мощностям в&nbsp;крупной компании периодически готовил толстенный отчёт руководству. В&nbsp;очередной раз он&nbsp;не&nbsp;принёс отчёт, решив проверить, нужен&nbsp;ли он&nbsp;вообще.</p>
                </div>
            </div>
            <div class="pages">
                <div class="num_pages">
                    <a href="" class="num_page">1</a>
                    <a href="" class="num_page">2</a>
                    <a href="" class="num_page">3</a>
                    <a href="" class="num_page">4</a>
                    <a href="" class="num_page">&hellip;</a>
                    <a href="" class="num_page">10</a>
                </div>
                <button class="next_page"><span>Следующая &gt;</span></button>
            </div>
        </main>
        <aside class="popular_news">
            <div class="news_cells">
                <div class="news_item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatem. Distinctio, quae saepe.</p>
                    <span class="data">10 дек 2020</span>
                </div>
                <div class="news_item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatem. Distinctio, quae saepe.</p>
                    <span class="data">10 дек 2020</span>
                </div>
                <div class="news_item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatem. Distinctio, quae saepe.</p>
                    <span class="data">10 дек 2020</span>
                </div>
            </div>
            <div class="subscription">
                <h2>Подписка на рассылку</h2>
                <label for="">
                    <input type="email" name="" id="">
                    <button><span>Подписаться</span><img src="" alt=""></button>
                </label>
            </div>
        </aside>
    </div>
    <footer>
        <div class="contaner">
            <div class="logo"></div>
            <div class="menu_footer">
                <a href="#">О нас</a>
                <a href="#">Галерея</a>
                <a href="#">Новости</a>
                <a href="#">Контакты</a>
            </div>
            <p class="info_org">ООО &laquo;Организация&raquo; 2020. Все права защищены</p>
        </div>
    </footer>
</body>
</html>