<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BackAndPack</title>
    <link rel="stylesheet" href="/general_lib/normaliz.css">
    <link rel="stylesheet" href="style.css" />
    <!-- https://www.figma.com/file/5hbI9Sn5UELmFsAak67eNa/BackAndPack?node-id=0%3A1 -->
  </head>
  <body>
    <header>
      <div class="submenu">
        <div class="wrapper"></div>
      </div>
      <div class="menu">
        <div class="wrapper"></div>
      </div>
      <div class="baner"></div>
    </header>
    <main>
      <div class="new">
        <div class="wrapper">
          <h2>Новинки сезона</h2>
          <div class="slider">
            <div class="slider_topSection">
              <button class="slider_control slider_control--left slider_control--hidden">&#5130;</button>
              <div class="slider_view">
                <div class="slider_line">
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card_pic"></div>
                    <div class="card_under">
                      <div class="card_name">
                        <span>BPCase One</span>
                      </div>
                      <div class="card_price">
                        <span>1000 &#8381;</span>
                      </div>
                      <div class="card_buttons">
                        <button class="card_add">
                          <span>
                            &#43;
                          </span>
                        </button>
                        <button class="card_buy">
                          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38281 8.1875H8.1875L12.3906 25.1016H32.2109L37.6172 11.7969L9.09375 11.6953" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.0938 32.8125C12.3666 32.8125 13.3984 31.7807 13.3984 30.5078C13.3984 29.235 12.3666 28.2031 11.0938 28.2031C9.82091 28.2031 8.78906 29.235 8.78906 30.5078C8.78906 31.7807 9.82091 32.8125 11.0938 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.9062 32.8125C33.1791 32.8125 34.2109 31.7807 34.2109 30.5078C34.2109 29.235 33.1791 28.2031 31.9062 28.2031C30.6334 28.2031 29.6016 29.235 29.6016 30.5078C29.6016 31.7807 30.6334 32.8125 31.9062 32.8125Z" stroke="#1C1C1C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                          
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="slider_control slider_control--right">&#5130;</button>
            </div>
            <div class="slider_underSection">
              <div class="slider_point slider_point--checked"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="catalogy">
        <div class="wrapper"></div>
      </div>
    </main>
    <footer>
      <div class="wrapper"></div>
    </footer>
  </body>
  <script src="script.js"></script>
</html>
