<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://ontalex.github.io/p/general_lib/normaliz.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Quizlet. Link for joining</title>
  </head>
  <body>
    <main>
      <span class="first"><h1>Hi!</h1></span>
      <p>This is a special supplement for the English language course.</p>
      <p>Join us!</p>
      <a
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        href="https://quizlet.com/aleksey2005borisov/folders/elc?x=1xqt&i=48lq9t"
        ><span class="link_text">join</span></a
      >
    </main>
  </body>
  <script src="main.js"></script>
</html>
