<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <link
      rel="stylesheet"
      href="https://ontalex.github.io/p/general_lib/normaliz.css"
    />
    <link rel="stylesheet" href="vareable.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Quizlet. Link for joining</title>
  </head>
  <body>
    <header>
      <div class="bg-color_after"></div>
      <div class="bg-color">
        <div class="wrepper-header">
          <div class="grid-flex">
            <div class="div">
              <div class="header-ico">
                <h1 class="hi">Hi</h1>
              </div>
            </div>
            <div class="div">
              <div class="mass-box">
                <div class="mass-text">
                  <p>
                    This is a special supplement for the English language
                    course. Quizlet. You can train your vocabulary, repeat words
                    and add new ones with this app or web-service.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrepper">
        <div class="content">
          <div class="pass-box">
            <img class="pass-ico" src="ico/ico-pass.svg" alt="" />
            <p class="pass-text">Password: groupofthebest</p>
          </div>
          <div class="links-box">
            <a
              href="https://quizlet.com/join/Gz4zr2hRC"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="link link-join">
                <span class="link-text">Join</span>
              </div>
            </a>
            <a
              href="https://quizlet.app.link/VyYD1ywNYR?utm_source=mobilepage"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="link link-gp">
                <img src="ico/ico-gp.svg" alt="" class="link-ico" />
              </div>
            </a>
            <a
              href="https://quizlet.app.link/V5hndX6FYR?utm_source=mobilepage"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="link link-apple">
                <img src="ico/ico-apple.svg" alt="" class="link-ico" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="wrepper">
        <div class="main-grid-flex">
          <div class="dev">
            <div class="contacts-box">
              <h2>Contacts</h2>
              <div class="contacts-grid">
                <div class="contacts-item">
                  <img src="ico/ico-phone.svg" alt="" class="contacts-ico" /><a
                    href="tel:89169475048"
                    class="contacts-number"
                    >+7-916-947-50-48</a
                  >
                </div>
                <div class="contacts-item">
                  <img src="ico/ico-vk.svg" alt="" class="contacts-ico" /><a
                    href="https://vk.com/ontalex"
                    class="contacts-number"
                    >@ontalex</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="dev">
            <div class="quizlet-logo">
              <img src="ico/ico-quizlet.svg" class="quizlet-ico" />
              <div class="quizlet-text">
                <span class="quizlet-name">Quizlet</span
                ><a href="https://quizlet.com" class="quizlet-link">Open</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="main.js"></script>
</html>
