html {
    font-family: "Nunito", sans-serif;
}

main .wrepper {
    margin: 0 125px;
    height: 100%;
    display: flex;
}

.wrepper-header {
    position: relative;
    margin: 0 125px;
    height: calc(100% - 100px);
}

.grid-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.bg-color {
    position: relative;
    width: 100%;
    height: 564px;
    background: radial-gradient(50% 50% at 50% 50%, #412494 0%, rgba(43, 16, 121, 0.89) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
    z-index: 1;
}

.bg-color_after {
    position: absolute;
    top: calc(564px - 100px);
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #5d4898;
    z-index: 100;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-ico {
    display: flex;
    margin: auto;
}

.hi {
    position: relative;
    font-family: "Nunito", sans-serif;
    font-size: 96px;
    color: white;
    margin: auto;
    transition: all 0.2s;
}

.hi::before {
    position: absolute;
    content: "";
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #6C4CC7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
    bottom: 0%;
    left: 0%;
    transform: translateY(-100%);
    transform: translateX(-50%);
}

.mass-box {
    transition: all 0.2s;
    position: relative;
    width: 560px;
    /* height: 225px; */
    border-radius: 16px;
    background-color: #2b1861;
    padding: 32px;
    margin: 0 0 25px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mass-box::after {
    position: absolute;
    top: calc(100% - 16px);
    right: 0;
    content: "";
    display: block;
    width: 32px;
    height: 48px;
    background-color: #2b1861;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mass-text {
    font-size: 24px;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

.mass-box p {
    margin: 0;
}

header .div {
    display: flex;
    justify-content: center;
    align-items: center;
}



main {
    height: 480px;
}

.main-grid-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pass-box {
    display: flex;
    align-items: center;
}

.pass-ico {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.pass-text {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
}


.links-box {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.link {
    position: relative;
    bottom: 0;
    transition: all .4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 57px;
    border-radius: 5px;
    margin: 25px;
    transform: scale(1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link:hover {
    bottom: 5px;
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
}

.link-join {
    background-color: #293CA0;
}

.link-text {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

.link-gp, .link-apple {
    background-color: #232323;
}

.link-ico {
    height: 35px;
}


footer {
    display: grid;
    background-color: #160F29;
    color: #fff;
    min-width: 200px;
}

footer .wrepper {
    padding-top: 25px;
    height: 100%;
    margin: 0 125px;
}

footer a, a:active, a:visited {
    color: #fff;
}

footer .main-grid-flex {
    height: 100%;
    margin: auto;
    justify-content: space-between;
}

footer .div {
    margin: auto;
}

h2 {
    padding-left: 13px;
    margin: 10px 0;
}

.quizlet-ico {
    width: 125px;
    height: 125px;
}

.contacts-ico {
    width: 13px;
    height: 13px;
    filter: invert(100);
    margin-right: 10px;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5px;
}

.contacts-number {
    opacity: 70%;
    transition: opacity .2s linear;
}

.contacts-number:hover {
    opacity: 100%;
}

.quizlet-logo {
    display: flex;
    align-items: center;
}

.quizlet-text {
    display: flex;
    flex-direction: column;
}

.quizlet-name {
    font-size: 48px;
    font-weight: bold;
}

.quizlet-link {
    opacity: 70%;
    transition: opacity .2s linear;
}

.quizlet-link:hover {
    opacity: 100%;
}


@media (max-width: 1200px) {
    .links-box {
        flex-direction: column;
    }

    .main-grid-flex {
        flex-direction: column;
    }

    footer .dev {
        margin: 25px auto;
    }

    .grid-flex {
        display: flex;
    }

    header .div {
        margin: 25px 0;
    }

    main .wrepper {
        margin: 0%;
    }

    .wrepper-header {
        margin: 0 25px;
    }

    .mass-text {
        font-size: 20px;
        margin: auto;
    }

    .mass-box {
        height: auto;
    }

    footer .wrepper {
        margin: 0 0px;
    }
}