html {
    background: radial-gradient(#0b0946, #07052c);
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
}

main {
    display: grid;
    margin: auto auto;
    max-width: 90%;
}

main>* {
    margin: var(--mt-t) auto;
}

h1 {
    color: var(--def-color_font);
    font-weight: 800;
    font-size: 48px;
    position: relative;
    z-index: 1000;
}

.first {
    position: relative;
}

.first:after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #2e39576e;
    position: absolute;
    border-radius: 10%;
    top: 5px;
    left: -15px;
    z-index: -1;
    opacity: 90%;
}

p {
    color: var(--def-color_font);
    font-size: 20px;
    font-weight: 500;
    margin-top: calc(- var(--mt-t) / 2);
    text-align: center;
    color: rgba(246, 247, 251, 0.945);
}

.password {
    display: block;
    font-size: var(--fs-password);
    padding: var(--fs-password) 0;
    text-align: center;
    margin: 0 auto;

}

.password img {
    width: calc(var(--fs-password) / 1.5);
    height: calc(var(--fs-password) / 1.5);
    filter: invert(1);
    position: relative;
}

.alert {
    position: fixed;
    transition: bottom cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.hidden-alert {
    bottom: calc(0 - var(--h-alert)*2);
}

.show-alert {
    bottom: var(--h-alert);
}

.link {
    position: relative;
    display: flex;
    justify-items: center;
    align-self: center;
    width: var(--w-button);
    height: var(--h-button);
    border-radius: calc(var(--w-button) * 0.02);
    background-color: var(--bgc-button);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.link:after, .link:before {
    position: absolute;
    content: "";
    background-color: #2e39579f;
    width: 32px;
    height: 32px;
    border-radius: calc(var(--w-button) * 0.02);
    opacity: 80%;
    z-index: -1;
}

.link:after {
    right: -10px;
    bottom: -10px;

}

.link:before {
    left: -10px;
    top: -10px;
}

.link_text {
    width: fit-content;
    color: var(--def-color_font);
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--w-button) / 10);
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.link_dl {
    filter: invert(20%);
}

.alert {
    position: fixed;
    bottom: var(--bottom-alert);
    background-color: rgba(36, 33, 65, 0.788);
    color: rgba(245, 245, 245, 0.863);
    padding: var(--padding-alert);
    border-radius: calc(var(--padding-alert)/2);
    font-size: var(--fs-alert);

    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.hidden-alert {
    visibility: hidden;
    animation: shown 0.5 cubic-bezier(0.075, 0.82, 0.165, 1)s
}

.shown-alert {
    visibility: visible;
    animation: reverse shown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

svg {
    margin-right: 10px;
}